@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(2, 2, 2);
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.03;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.bg .bg--next {
  position: absolute;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

@supports (scrollbar-color: #303030 #000000) {
  * {
    scrollbar-color: #303030 #000000;
    scrollbar-width: thin;
  }
}
.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.active {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px rgb(0, 179, 0);
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 6;
  background-color: rgb(0, 0, 0);
}
.nav-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1710px;
  height: 60px;
}
.nav-content-hamburger-menu {
  left: -100%;
  transition: all 0.3s ease-in-out;
}
.nav-content-hamburger-menu ul {
  position: absolute;
  left: -100%;
}
.nav-content-hamburger-menu__btn {
  position: absolute;
  left: -100%;
}
.nav-content__logo {
  color: white;
  transition: all 0.1s ease-in-out;
  align-items: center;
  margin-left: 50px;
  cursor: default;
}
.nav-content__logo:hover {
  color: rgb(226, 226, 226);
}
.nav-content-list {
  display: flex;
  margin-left: auto;
  list-style: none;
}
.nav-content-list__item {
  color: white;
  padding: 20px 20px;
  margin-left: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.nav-content-list__item:hover {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px #007400;
}
.nav-content-list__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
  height: 35px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(0, 179, 0);
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(0, 179, 0);
  cursor: pointer;
  color: white;
  margin: 12px 50px 0 50px;
}
.nav-content-list__btn:hover {
  background-color: rgb(0, 146, 0);
  border: 2px solid rgb(0, 146, 0);
}

.lp {
  display: flex;
  width: 100%;
  height: 100vh;
}
.lp-imgs {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 700px;
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
          animation: fadeIn 0.5s ease-in-out forwards;
}
.lp-imgs__guy {
  position: absolute;
  width: 600px;
  top: 100px;
  right: 140px;
  -webkit-animation: fadeIn 0.7s ease-in-out forwards;
          animation: fadeIn 0.7s ease-in-out forwards;
}
.lp-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 680px;
  height: 800px;
  top: 190px;
  left: 145px;
}
.lp-header__text {
  color: rgb(221, 221, 221);
  padding-left: 9px;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 26px;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
}
.lp-header-name {
  display: flex;
  color: white;
  font-weight: bolder;
  font-size: 120px;
  cursor: default;
}
.lp-header-name__letter:nth-child(1) {
  transition-delay: 100ms;
}
.lp-header-name__letter:nth-child(2) {
  transition-delay: 200ms;
}
.lp-header-name__letter:nth-child(3) {
  transition-delay: 300ms;
}
.lp-header-name__letter:nth-child(4) {
  transition-delay: 400ms;
}
.lp-header-name__letter:nth-child(5) {
  transition-delay: 500ms;
}
.lp-header-name__letter:nth-child(6) {
  transition-delay: 600ms;
}
.lp-header-name__letter:nth-child(7) {
  transition-delay: 700ms;
}
.lp-header-name__letter:nth-child(8) {
  transition-delay: 800ms;
}
.lp-header-name__letter:nth-child(9) {
  transition-delay: 900ms;
}
.lp-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 98%;
  height: 50px;
  margin: 15px 0 5px 10px;
  background-color: rgb(0, 179, 0);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-animation: slide 1s ease-in-out forwards;
          animation: slide 1s ease-in-out forwards;
}
.lp-header-title__position {
  position: absolute;
  color: white;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 18px;
  font-weight: 400;
  -webkit-animation: slide-positon 1.2s ease-in-out forwards;
          animation: slide-positon 1.2s ease-in-out forwards;
  cursor: default;
}
.lp-header__bio {
  color: white;
  margin-top: 25px;
  margin-left: 10px;
  width: 660px;
  text-align: center;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
}
.lp-header-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 10px;
  gap: 60px;
  width: 660px;
}
.lp-header-icons__icon {
  color: rgb(197, 197, 197);
  font-size: 40px;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  transition: all 0.1s ease-in-out;
}
.lp-header-icons__icon:hover {
  transform: scale(1.2);
  color: white;
}
.lp-header-action {
  width: 685px;
  margin-top: 150px;
}
.lp-header-action__text {
  color: white;
  text-align: center;
  -webkit-animation: 0.9s linear infinite alternate scrollDown;
          animation: 0.9s linear infinite alternate scrollDown;
  cursor: default;
}
.lp-header-action__circle {
  width: 30px;
  height: 30px;
  margin: 15px auto 0 auto;
  background-color: rgb(0, 179, 0);
  border-radius: 25px;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  transition: all 0.3s ease-in-out;
}
.lp-header-action__icon {
  display: flex;
  color: white;
  padding-top: 7px;
  padding-left: 8px;
}

.abt {
  position: relative;
  width: 100%;
  height: 100vh;
}
.abt-imgs {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 700px;
  -webkit-animation: fadeIn 0.7s ease-in-out forwards;
          animation: fadeIn 0.7s ease-in-out forwards;
}
.abt-imgs__guy {
  position: absolute;
  width: 720px;
  top: 140px;
  left: 130px;
  -webkit-animation: fadeIn 0.7s ease-in-out forwards;
          animation: fadeIn 0.7s ease-in-out forwards;
}
.abt-me {
  position: absolute;
  width: 53%;
  top: 190px;
  right: 20px;
  padding: 15px;
}
.abt-me__title {
  color: white;
  font-size: 60px;
  margin-right: 150px;
  margin-bottom: 20px;
}
.abt-me__text {
  color: white;
  font-size: 18px;
  margin-right: 150px;
}
.abt-me-logos-container {
  width: 100%;
  display: flex;
}
.abt-me-logos-container--one {
  display: flex;
}
.abt-me-logos-container--two {
  display: flex;
}
.abt-me-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-right: 50px;
}
.abt-me-skill__logo {
  width: auto;
  height: 40px;
  padding-bottom: 10px;
  transition-delay: 500ms;
}
.abt-me-skill__title {
  color: white;
  font-size: 18px;
  transition-delay: 650ms;
}
.abt-me #firebase {
  margin-right: 35px;
}
.abt-me #photoshop {
  margin-top: 27px;
}

.prj {
  position: relative;
  width: 100%;
  height: 100vh;
}
.prj-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  align-items: center;
  width: 70%;
  height: auto;
}
.prj-header__title {
  font-size: 60px;
  color: white;
  padding-top: 90px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.prj-header__desc {
  color: white;
}
.prj-header__desc__link {
  text-decoration: none;
  color: rgb(0, 179, 0);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.prj-header__desc__link:hover {
  color: #007400;
}
.prj-cards {
  display: flex;
  justify-content: center;
  gap: 110px;
  margin-top: 50px;
}
.prj-cards__card {
  width: 600px;
  height: 540px;
  background-color: #000000;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  color: white;
}
.prj-cards__card:nth-child(1) {
  transition-delay: 100ms;
}
.prj-cards__card:nth-child(2) {
  transition-delay: 200ms;
}
.prj-cards__card-img {
  overflow: hidden;
  width: 100%;
  height: 250px;
  background: linear-gradient(184deg, rgb(0, 106, 0) 0%, rgb(0, 179, 0) 0%);
  border-bottom: 4px solid #00b300;
  border-radius: 10px;
}
.prj-cards__card__img {
  width: 100%;
  border-radius: 10px;
  opacity: 0.55;
  -o-object-fit: cover;
     object-fit: cover;
}
.prj-cards__card-inner {
  padding: 20px;
}
.prj-cards__card-inner__title {
  margin-bottom: 5px;
}
.prj-cards__card-inner-tags {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
}
.prj-cards__card-inner-tags__tag {
  background-color: rgb(133, 102, 0);
  padding: 2px 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: default;
}
.prj-cards__card-inner-tags__tag:hover {
  background-color: rgb(158, 121, 1);
}
.prj-cards__card-inner__desc {
  width: 100%;
  height: 120px;
  overflow-y: scroll;
}
.prj-cards__card-inner-btns {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
.prj__btn {
  width: 140px;
  height: 40px;
  color: white;
  border-radius: 10px;
  border: 2px solid #00b300;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  cursor: pointer;
}
.prj__btn--primary {
  background-color: #00b300;
}
.prj__btn--primary:hover {
  background-color: #007700;
  border: 2px solid #007700;
}
.prj__btn--secondary {
  background-color: transparent;
}
.prj__btn--secondary:hover {
  box-shadow: inset 145px 0 0 0.01px #00b300;
}
.prj__icon--site {
  color: white;
  margin-right: 5px;
}

.ct {
  width: 100%;
  height: 100vh;
}
.ct-form {
  width: 1000px;
  margin: 0 auto;
}
.ct__title {
  color: white;
  font-size: 60px;
  padding-top: 120px;
  text-align: center;
}
.ct-form__title {
  color: white;
  margin-top: 70px;
  margin-bottom: 20px;
}
.ct-form-desc {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.ct-form-desc__email, .ct-form-desc__location {
  color: white;
  font-size: 20px;
}
.ct-form-desc__marker {
  color: red;
}
.ct-form-container-top {
  display: flex;
  justify-content: space-between;
}
.ct-form__field {
  padding: 10px;
  width: 32%;
  background-color: black;
  border: 2px solid rgb(139, 139, 139);
  border-radius: 10px;
  outline: none;
  color: white;
}
.ct-form__field:focus {
  border: 2px solid #00b300;
}
.ct-form__field--message {
  width: 99.8%;
  height: 300px;
  margin-top: 10px;
  resize: none;
}
.ct-form__submit-btn {
  background-color: #00b300;
  padding: 15px 65px;
  font-size: 15px;
  margin-top: 20px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}
.ct-form__submit-btn:hover {
  background-color: #007700;
}
.ct .copyright {
  width: 100%;
  margin-top: 140px;
  padding-bottom: 30px;
}
.ct .copyright__text {
  color: rgb(102, 102, 102);
  text-align: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@-webkit-keyframes slide {
  0% {
    height: 0px;
    opacity: 0%;
  }
  100% {
    height: 50px;
  }
}
@keyframes slide {
  0% {
    height: 0px;
    opacity: 0%;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes slide-positon {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: 13px;
  }
}
@keyframes slide-positon {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: 13px;
  }
}
@-webkit-keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (max-width: 430px) {
  ::-webkit-scrollbar {
    display: none;
  }
  @supports (scrollbar-color: #303030 #000000) {
    * {
      scrollbar-width: none;
    }
  }
}
@media (max-width: 980px) {
  .nav-content-hamburger {
    display: block;
    transition: all 0.3s ease-in-out;
    margin: -3px 50px 0 auto;
    cursor: pointer;
  }
  .nav-content-hamburger-menu {
    position: fixed;
    top: 60px;
    left: -100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.99);
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-animation: fadeOut 0.3s ease-in-out forwards;
            animation: fadeOut 0.3s ease-in-out forwards;
  }
  .nav-content-hamburger-menu ul {
    position: static;
    margin-top: 130px;
  }
  .nav-content-hamburger-menu__item {
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .nav-content-hamburger-menu__item li {
    margin-bottom: 70px;
    cursor: pointer;
  }
  .nav-content-hamburger-menu__btn {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
    height: 45px;
    width: 120px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(0, 179, 0);
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(0, 179, 0);
    cursor: pointer;
    color: white;
  }
  .nav-content-hamburger-menu__btn:hover {
    background-color: rgb(0, 146, 0);
    border: 2px solid rgb(0, 146, 0);
  }
  .nav-content-hamburger__line {
    width: 35px;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  .nav-content-list {
    display: none;
  }
  .ham-active {
    transition: all 0.3s ease-in-out;
  }
  .ham-active .nav-content-hamburger__line {
    transition: all 0.3s ease-in-out;
  }
  .ham-active .nav-content-hamburger__line:nth-child(2) {
    opacity: 0;
  }
  .ham-active .nav-content-hamburger__line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .ham-active .nav-content-hamburger__line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu-active {
    left: 0;
    transition: all 0.3s ease-in-out;
    -webkit-animation: fadeIn 0.3s ease-in-out forwards;
            animation: fadeIn 0.3s ease-in-out forwards;
  }
}
@media (max-width: 620px) {
  .nav-content-hamburger-menu__item {
    font-size: 40px;
  }
}
@media (max-width: 390px) {
  .nav-content-hamburger-menu ul {
    margin-top: 130px;
  }
  .nav-content-hamburger-menu__item {
    font-size: 30px;
  }
}
@media (max-width: 390px) {
  .nav-content__logo {
    margin-left: 20px;
  }
  .nav-content-hamburger {
    margin: -3px 20px 0 auto;
  }
}
@media (max-height: 750px) {
  .nav-content-hamburger-menu ul {
    margin-top: 90px;
  }
}
@media (max-height: 700px) {
  .nav-content-hamburger-menu ul {
    margin-top: 60px;
  }
}
@media (max-height: 650px) {
  .nav-content-hamburger-menu ul {
    margin-top: 30px;
  }
}
@media (max-height: 625px) {
  .nav-content-hamburger-menu ul {
    margin-top: 10px;
  }
}
@media (min-width: 2000px) {
  .lp-imgs {
    top: 50px;
    right: 100px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 200px;
  }
  .lp-header {
    top: 190px;
    left: 225px;
  }
}
@media (min-width: 2200px) {
  .lp-imgs {
    top: 50px;
    right: 150px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 250px;
  }
  .lp-header {
    top: 190px;
    left: 275px;
  }
}
@media (min-width: 2400px) {
  .lp-imgs {
    top: 50px;
    right: 200px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 300px;
  }
  .lp-header {
    top: 190px;
    left: 470px;
  }
}
@media (min-width: 2700px) {
  .lp-imgs {
    top: 50px;
    right: 200px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 300px;
  }
  .lp-header {
    top: 190px;
    left: 540px;
  }
}
@media (max-width: 1680px) {
  .lp-imgs {
    top: 80px;
    width: 600px;
  }
  .lp-imgs__guy {
    width: 500px;
    top: 130px;
  }
}
@media (max-width: 1585px) {
  .lp-imgs {
    top: 80px;
    width: 550px;
  }
  .lp-imgs__guy {
    width: 450px;
    top: 130px;
  }
  .lp-header {
    top: 190px;
    left: 125px;
  }
  .lp-header__text {
    font-size: 21px;
  }
  .lp-header-name {
    font-size: 110px;
  }
  .lp-header-title {
    width: 91%;
  }
  .lp-header__bio {
    width: 610px;
  }
  .lp-header-icons {
    width: 610px;
  }
  .lp-header-icons__icon {
    font-size: 38px;
  }
  .lp-header-action {
    width: 650px;
  }
}
@media (max-width: 1485px) {
  .lp-imgs {
    width: 500px;
  }
  .lp-imgs__guy {
    width: 400px;
    right: 100px;
  }
  .lp-header {
    top: 190px;
    left: 125px;
  }
  .lp-header__text {
    font-size: 19px;
  }
  .lp-header-name {
    font-size: 100px;
  }
  .lp-header-title {
    width: 82%;
  }
  .lp-header__bio {
    width: 555px;
  }
  .lp-header-icons {
    width: 555px;
  }
  .lp-header-action {
    width: 580px;
  }
}
@media (max-width: 1370px) {
  .lp-imgs {
    margin-top: -30px;
  }
  .lp-imgs__guy {
    margin-top: -30px;
  }
  .lp-header {
    margin-top: -50px;
  }
}
@media (max-width: 1335px) {
  .lp-imgs {
    width: 450px;
  }
  .lp-imgs__guy {
    width: 350px;
    right: 100px;
  }
  .lp-header__text {
    font-size: 19px;
  }
  .lp-header-name {
    font-size: 90px;
  }
  .lp-header-title {
    width: 74%;
  }
  .lp-header__bio {
    width: 500px;
  }
  .lp-header-icons {
    width: 520px;
  }
  .lp-header-action {
    width: 550px;
  }
}
@media (max-width: 1285px) {
  .lp-header-action {
    margin-top: 50px;
  }
}
@media (max-width: 1215px) {
  .lp-imgs {
    width: 400px;
    right: 30px;
  }
  .lp-imgs__guy {
    width: 320px;
    right: 90px;
  }
  .lp-header {
    left: 85px;
  }
  .lp-header__text {
    font-size: 17px;
  }
  .lp-header-name {
    font-size: 83px;
  }
  .lp-header-title {
    width: 68%;
  }
  .lp-header__bio {
    width: 460px;
    font-size: 15px;
    margin-top: 10px;
  }
  .lp-header-icons {
    width: 465px;
  }
  .lp-header-action {
    width: 500px;
  }
}
@media (max-width: 1050px) {
  .lp-imgs {
    width: 350px;
    top: 90px;
    right: 30px;
  }
  .lp-imgs__guy {
    width: 280px;
    top: 130px;
    right: 70px;
  }
  .lp-header {
    left: 85px;
  }
  .lp-header__text {
    font-size: 14px;
  }
  .lp-header-name {
    font-size: 75px;
  }
  .lp-header-title {
    width: 61%;
  }
  .lp-header__bio {
    margin-top: 10px;
    font-size: 14px;
    width: 410px;
  }
  .lp-header-icons {
    width: 410px;
  }
  .lp-header-action {
    width: 445px;
    transform: scale(0.9);
  }
  .lp-header-action__text {
    color: white;
    text-align: center;
    -webkit-animation: 0.9s linear infinite alternate scrollDown;
            animation: 0.9s linear infinite alternate scrollDown;
    cursor: default;
  }
  .lp-header-action__icon {
    padding-left: 9px;
  }
}
@media (max-width: 1024px) {
  .lp-imgs {
    display: none;
  }
  .lp-imgs__guy {
    display: none;
  }
  .lp-header {
    position: static;
    justify-content: center;
    margin: 25px auto 0 auto;
  }
  .lp-header__text {
    font-size: 22px;
  }
  .lp-header-name {
    font-size: 120px;
  }
  .lp-header-title {
    width: 98%;
    height: 50px;
    margin: 15px 0 5px 10px;
  }
  .lp-header-title__position {
    font-size: 18px;
  }
  .lp-header__bio {
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    width: 660px;
    text-align: center;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
            animation: fadeIn 1s ease-in-out forwards;
  }
  .lp-header-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
    gap: 60px;
    width: 660px;
  }
  .lp-header-icons__icon {
    color: rgb(197, 197, 197);
    font-size: 40px;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
            animation: fadeIn 1s ease-in-out forwards;
    transition: all 0.1s ease-in-out;
  }
  .lp-header-icons__icon:hover {
    transform: scale(1.2);
    color: white;
  }
  .lp-header-action {
    width: 685px;
    margin-top: 150px;
  }
  .lp-header-action__icon {
    padding-top: 7px;
    padding-left: 9px;
  }
}
@media (max-width: 850px) {
  .lp-header__text {
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-name {
    font-size: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-title {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header__bio {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-icons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-icons__icon {
    font-size: 38px;
  }
  .lp-header-action {
    width: 100%;
    padding-left: 15px;
  }
}
@media (max-width: 760px) {
  .lp-header__text {
    font-size: 18px;
  }
  .lp-header-name {
    font-size: 95px;
  }
  .lp-header-title {
    width: 77%;
  }
  .lp-header__bio {
    width: 530px;
    margin-top: 10px;
  }
  .lp-header-icons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-icons__icon {
    font-size: 34px;
  }
}
@media (max-width: 665px) {
  .lp-header__text {
    font-size: 18px;
  }
  .lp-header-name {
    font-size: 78px;
  }
  .lp-header-title {
    width: 400px;
  }
  .lp-header__bio {
    width: 390px;
    font-size: 12px;
  }
}
@media (max-width: 545px) {
  .lp-header__text {
    font-size: 15px;
  }
  .lp-header-name {
    font-size: 65px;
  }
  .lp-header-title {
    width: 360px;
  }
  .lp-header-title__position {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .lp-header-icons__icon {
    font-size: 28px;
  }
  .lp-header-action {
    transform: scale(0.9);
  }
}
@media (max-width: 430px) {
  .lp-header__text {
    font-size: 12px;
  }
  .lp-header-name {
    font-size: 50px;
  }
  .lp-header__bio {
    width: 320px;
    margin-top: 5px;
    font-size: 12px;
  }
  .lp-header-title {
    width: 310px;
  }
  .lp-header-title__position {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 7px;
  }
  .lp-header-icons__icon {
    font-size: 23px;
  }
}
@media (max-width: 400px) {
  .lp-header {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .lp-header-action {
    transform: scale(0.8);
    margin-top: 130px;
  }
}
@media (max-width: 360px) {
  .lp-header__text {
    font-size: 10px;
  }
  .lp-header-name {
    font-size: 40px;
  }
  .lp-header__bio {
    width: 230px;
    height: 80px;
    margin-top: 5px;
    font-size: 12px;
  }
  .lp-header-title {
    width: 260px;
  }
  .lp-header-title__position {
    letter-spacing: 4px;
    font-size: 12px;
  }
  .lp-header-icons__icon {
    font-size: 28px;
  }
  .lp-header-action {
    transform: scale(0.8);
  }
  .lp-header-action__icon {
    padding-left: 8.5px;
  }
}
@media (max-width: 320px) {
  .lp {
    height: 130vh;
    margin-top: -60px;
  }
  .lp .lp-header-action {
    margin-top: 20px;
  }
}
@media (min-width: 2400px) {
  .abt-imgs {
    left: 140px;
    top: 70px;
  }
  .abt-imgs__guy {
    left: 200px;
    top: 150px;
  }
  .abt-me {
    top: 230px;
    width: 60%;
  }
}
@media (min-width: 2090px) {
  .abt-imgs {
    left: 100px;
    top: 70px;
  }
  .abt-imgs__guy {
    left: 150px;
    top: 150px;
  }
}
@media (max-width: 1740px) {
  .abt-imgs {
    left: 10px;
  }
  .abt-imgs__guy {
    left: 70px;
  }
  .abt-me {
    width: 55%;
  }
}
@media (max-width: 1650px) {
  .abt-imgs {
    top: 50px;
    left: 20px;
    width: 600px;
  }
  .abt-imgs__guy {
    width: 620px;
    top: 130px;
    left: 70px;
  }
  .abt-me {
    width: 57%;
    top: 110px;
  }
}
@media (max-width: 1600px) {
  .abt-imgs {
    top: 75px;
    left: 20px;
    width: 600px;
  }
}
@media (max-width: 1550px) {
  .abt-me {
    width: 54%;
    top: 120px;
    right: 0px;
  }
  .abt-me__title {
    font-size: 50px;
    margin-right: 150px;
  }
  .abt-me__text {
    font-size: 16px;
    margin-right: 100px;
  }
  .abt-me-skill__logo {
    height: 32px;
  }
  .abt-me-skill__title {
    font-size: 14px;
  }
}
@media (max-width: 1445px) {
  .abt-imgs {
    left: 20px;
    width: 550px;
    top: 70px;
  }
  .abt-imgs__guy {
    width: 540px;
    top: 140px;
    left: 70px;
  }
  .abt-me {
    width: 54%;
    right: 0px;
  }
  .abt-me-skill {
    margin-right: 40px;
  }
}
@media (max-width: 1380px) {
  .abt-imgs {
    left: 20px;
    width: 550px;
    top: 60px;
  }
  .abt-imgs__guy {
    width: 540px;
    top: 120px;
    left: 70px;
  }
  .abt-me {
    width: 54%;
    right: 0px;
    top: 90px;
  }
}
@media (max-width: 1325px) {
  .abt-me {
    width: 54%;
    right: 0px;
    top: 90px;
  }
}
@media (max-width: 1285px) {
  .abt-imgs {
    left: 20px;
    width: 500px;
    top: 60px;
  }
  .abt-imgs__guy {
    width: 500px;
    top: 120px;
    left: 70px;
  }
  .abt-me {
    width: 57%;
    top: 100px;
    right: 0px;
  }
  .abt-me__title {
    font-size: 50px;
    margin-right: 150px;
  }
  .abt-me__text {
    font-size: 14px;
    margin-right: 100px;
  }
  .abt-me-skill__logo {
    height: 32px;
  }
  .abt-me-skill__title {
    font-size: 14px;
  }
}
@media (max-width: 1260px) {
  .abt-me {
    width: 54%;
    top: 100px;
    right: 0px;
  }
  .abt-me-logos-container {
    display: block;
  }
  .abt-me-logos-container--one {
    display: flex;
  }
  .abt-me-logos-container--two {
    display: flex;
  }
  .abt-me__title {
    font-size: 50px;
    margin-right: 150px;
  }
  .abt-me__text {
    font-size: 14px;
    margin-right: 100px;
  }
  .abt-me-skill__logo {
    height: 32px;
  }
  .abt-me-skill__title {
    font-size: 14px;
  }
}
@media (max-width: 1135px) {
  .abt-imgs {
    top: 230px;
    left: 300px;
    width: 350px;
  }
  .abt-imgs__guy {
    width: 350px;
    top: 260px;
    left: 350px;
  }
  .abt-me {
    width: 100%;
    top: 150px;
    right: 0px;
    padding: 0 100px 100px 100px;
  }
  .abt-me__title {
    font-size: 50px;
    margin-right: 0px;
  }
  .abt-me__text {
    font-size: 14px;
    margin-right: 0px;
  }
  .abt-me-skill__logo {
    height: 34px;
  }
  .abt-me-skill__title {
    font-size: 14px;
  }
}
@media (max-width: 1025px) {
  .abt {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .abt-me {
    margin-top: -30px;
  }
  .abt-imgs {
    display: none;
  }
  .abt-imgs__guy {
    display: none;
  }
}
@media (max-width: 980px) {
  .abt {
    margin-top: 50px;
  }
  .abt-me {
    top: 100px;
  }
}
@media (max-width: 945px) {
  .abt-me {
    top: 120px;
  }
}
@media (max-width: 910px) {
  .abt-imgs {
    display: none;
  }
  .abt-imgs__guy {
    display: none;
  }
}
@media (max-width: 825px) {
  .abt-me {
    top: 120px;
  }
}
@media (max-width: 725px) {
  .abt-me {
    width: 100%;
    top: 120px;
    right: 0px;
    padding: 0 70px 70px 70px;
  }
  .abt-me__title {
    font-size: 40px;
    margin-right: 0px;
  }
  .abt-me__text {
    font-size: 14px;
    margin-right: 0px;
  }
  .abt-me-skill__logo {
    height: 32px;
  }
  .abt-me-skill__title {
    font-size: 13px;
  }
}
@media (max-width: 595px) {
  .abt-me {
    top: 90px;
  }
}
@media (max-width: 525px) {
  .abt-me {
    top: 80px;
  }
}
@media (max-width: 515px) {
  .abt-me {
    width: 100%;
    top: 120px;
    padding: 0 50px 50px 50px;
  }
  .abt-me__title {
    font-size: 30px;
    margin-right: 0px;
  }
  .abt-me__text {
    font-size: 13px;
    margin-right: 0px;
  }
  .abt-me-skill__logo {
    height: 30px;
  }
  .abt-me-skill__title {
    font-size: 13px;
  }
}
@media (max-width: 440px) {
  .abt-me {
    top: 90px;
  }
}
@media (max-width: 430px) {
  .abt-me {
    top: 90px;
  }
}
@media (max-width: 410px) {
  .abt {
    height: 120vh;
  }
  .abt-me-logos-container {
    display: flex;
  }
  .abt-me-logos-container--one {
    display: block;
  }
  .abt-me-logos-container--two {
    display: block;
  }
  .abt-me-logos-container #firebase {
    margin-right: 50px;
  }
  .abt-me-logos-container #photoshop {
    margin-top: 25px;
  }
}
@media (max-width: 385px) {
  .abt-me {
    padding: 0 20px 20px 20px;
  }
}
@media (max-width: 355px) {
  .abt-me {
    width: 100%;
    top: 90px;
    padding: 0 20px 20px 20px;
  }
}
@media (max-width: 320px) {
  .abt {
    height: 185vh;
    margin-bottom: 240px;
  }
}
@media (max-width: 1700px) {
  .prj-cards {
    gap: 70px;
    margin-top: 20px;
  }
  .prj-cards__card {
    width: 490px;
    height: 520px;
  }
  .prj-cards__card-img {
    width: 100%;
    height: 200px;
    background: linear-gradient(184deg, rgb(0, 106, 0) 0%, rgb(0, 179, 0) 0%);
    border-bottom: 4px solid #00b300;
    border-radius: 10px;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 13px;
  }
  .prj-cards__card-inner__desc {
    height: 155px;
  }
}
@media (max-width: 1550px) {
  .prj-header__title {
    font-size: 50px;
  }
}
@media (max-width: 1370px) {
  .prj-header {
    width: 80%;
    font-size: 14px;
  }
  .prj-header__title {
    padding-top: 65px;
  }
  .prj-cards {
    gap: 40px;
  }
  .prj-cards__card {
    width: 450px;
    height: 495px;
  }
  .prj-cards__card-inner__desc {
    height: 130px;
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  .prj-header {
    width: 80%;
  }
  .prj-header__title {
    margin-bottom: 10px;
  }
  .prj-cards {
    gap: 40px;
    margin-top: 10px;
  }
  .prj-cards__card {
    width: 410px;
    height: 475px;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 13px;
  }
  .prj-cards__card-inner-btns {
    margin-top: 0;
  }
}
@media (max-width: 1280px) {
  .prj {
    margin-bottom: 30px;
  }
}
@media (max-width: 1135px) {
  .prj {
    margin-bottom: 100px;
  }
  .prj-cards__card {
    width: 410px;
    height: 475px;
  }
  .prj-cards__card-inner {
    padding: 20px;
  }
  .prj-cards__card-inner__title {
    margin-bottom: 5px;
  }
  .prj-cards__card-inner-tags {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
  }
  .prj-cards__card-inner-tags__tag {
    background-color: rgb(133, 102, 0);
    padding: 2px 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: default;
  }
  .prj-cards__card-inner-tags__tag:hover {
    background-color: rgb(158, 121, 1);
  }
  .prj-cards__card-inner__desc {
    height: 128px;
    font-size: 13px;
  }
  .prj__btn {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 980px) {
  .prj {
    position: relative;
    height: auto;
    margin-top: -250px;
    margin-bottom: 150px;
  }
  .prj-header {
    width: 85%;
  }
  .prj-header__title {
    font-size: 50px;
  }
  .prj-header__desc {
    font-size: 14px;
  }
  .prj-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .prj-cards__card {
    width: 510px;
  }
  .prj-cards__card-inner__title {
    margin-bottom: 5px;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 15px;
  }
  .prj-cards__card-inner__desc {
    height: 128px;
    font-size: 14px;
  }
}
@media (max-width: 820px) {
  .prj {
    margin-top: -280px;
    margin-bottom: 180px;
  }
}
@media (max-width: 770px) {
  .prj {
    margin-top: -180px;
    margin-bottom: 250px;
  }
}
@media (max-width: 760px) {
  .prj {
    margin-bottom: 0px;
  }
}
@media (max-width: 640px) {
  .prj-header {
    width: 85%;
  }
  .prj-header__title {
    font-size: 50px;
  }
  .prj-header__desc {
    font-size: 14px;
  }
  .prj-cards__card {
    width: 440px;
    height: 495px;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 14px;
  }
  .prj-cards__card-inner__desc {
    height: 144px;
    font-size: 14px;
  }
}
@media (max-width: 545px) {
  .prj-header {
    width: 85%;
  }
  .prj-header__title {
    font-size: 50px;
  }
  .prj-header__desc {
    font-size: 14px;
  }
  .prj-cards__card {
    width: 380px;
    height: 512px;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 14px;
  }
  .prj-cards__card-inner__desc {
    height: 164px;
    font-size: 14px;
  }
}
@media (max-width: 515px) {
  .prj-header__title {
    font-size: 30px;
  }
  .prj-header__desc {
    font-size: 13px;
  }
}
@media (max-width: 485px) {
  .prj-cards__card {
    width: 330px;
    height: 505px;
  }
  .prj-cards__card-img {
    height: 160px;
  }
  .prj-cards__card-inner__title {
    font-size: 20px;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 14px;
  }
  .prj-cards__card-inner__desc {
    height: 200px;
    font-size: 14px;
  }
}
@media (max-width: 415px) {
  .prj {
    margin-top: 130px;
    margin-bottom: 170px;
  }
}
@media (max-width: 395px) {
  .prj {
    margin-top: 130px;
    margin-bottom: 120px;
  }
}
@media (max-width: 390px) {
  .prj {
    margin-top: 130px;
  }
  .prj-cards__card {
    width: 300px;
    height: 530px;
  }
  .prj-cards__card-inner__title {
    font-size: 20px;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 12px;
  }
  .prj-cards__card-inner__desc {
    height: 230px;
  }
}
@media (max-width: 375px) {
  .prj {
    margin-top: 120px;
  }
}
@media (max-width: 360px) {
  .prj {
    margin-top: 150px;
  }
  .prj-cards__card {
    width: 270px;
    height: 515px;
  }
  .prj-cards__card-img {
    height: 140px;
  }
  .prj-cards__card-inner__title {
    font-size: 20px;
  }
  .prj-cards__card-inner-tags {
    flex-wrap: wrap;
  }
  .prj-cards__card-inner-tags__tag {
    font-size: 12px;
  }
  .prj-cards__card-inner__desc {
    height: 205px;
    font-size: 12px;
  }
  .prj__btn {
    width: 100px;
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .prj {
    margin-top: 450px;
  }
}
@media (max-width: 1550px) {
  .ct__title {
    font-size: 50px;
  }
}
@media (max-width: 1370px) {
  .ct__title {
    padding-top: 90px;
  }
  .ct-form__title {
    margin-top: 40px;
  }
}
@media (max-width: 1285px) {
  .ct-form__field--message {
    width: 99.8%;
    height: 240px;
    margin-top: 15px;
    resize: none;
  }
}
@media (max-width: 1200px) {
  .ct-form {
    width: 800px;
  }
}
@media (max-width: 980px) {
  .ct-form {
    width: 700px;
  }
}
@media (max-width: 820px) {
  .ct__title {
    padding-top: 95px;
  }
  .ct-form {
    width: 600px;
  }
  .ct-form__title {
    margin-bottom: 0;
  }
  .ct-form-desc__email, .ct-form-desc__location {
    color: white;
    font-size: 16px;
  }
  .ct-form-container-top {
    flex-direction: column;
  }
  .ct-form__field {
    width: 100%;
    margin-top: 15px;
  }
  .ct-form__field--message {
    width: 99.8%;
    height: 240px;
    margin-top: 15px;
    resize: none;
  }
}
@media (max-width: 770px) {
  .ct-form {
    width: 500px;
  }
}
@media (max-width: 725px) {
  .ct__title {
    font-size: 40px;
  }
}
@media (max-width: 595px) {
  .ct-form {
    width: 450px;
  }
}
@media (max-width: 520px) {
  .ct__title {
    font-size: 44px;
  }
  .ct-form {
    width: 350px;
  }
  .ct-form__title {
    margin-top: 60px;
  }
  .ct-form-desc {
    flex-direction: column;
    margin-top: 10px;
  }
  .ct-form-desc__location {
    margin-top: -20px;
  }
}
@media (max-width: 515px) {
  .ct__title {
    font-size: 30px;
  }
  .copyright__text {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .ct-form {
    width: 280px;
  }
}
@media (max-width: 350px) {
  .ct-form {
    width: 240px;
  }
}
@media (max-width: 1366px) and (max-height: 768px) {
  .lp {
    transform: scale(0.9);
  }
  .abt {
    transform: scale(0.9);
  }
  .prj {
    transform: scale(0.9);
  }
  .ct {
    transform: scale(0.9);
  }
}
@media (max-width: 1364px) and (max-height: 766px) {
  .lp {
    transform: scale(1);
  }
  .abt {
    transform: scale(1);
  }
  .prj {
    transform: scale(1);
  }
  .ct {
    transform: scale(1);
  }
}
@media (max-width: 1280px) and (max-height: 720px) {
  .lp {
    transform: scale(0.9);
  }
  .abt {
    transform: scale(0.9);
  }
  .prj {
    transform: scale(0.9);
  }
  .ct {
    transform: scale(0.9);
  }
}
@media (max-width: 1278px) and (max-height: 718px) {
  .lp {
    transform: scale(1);
  }
  .abt {
    transform: scale(1);
  }
  .prj {
    transform: scale(1);
  }
  .ct {
    transform: scale(1);
  }
}
@media (max-width: 1000px) and (max-height: 805px) {
  .abt {
    height: 130vh;
  }
}
@media (max-height: 690px) {
  .abt {
    height: 140vh;
  }
}
@media (max-height: 650px) {
  .lp {
    height: 110vh;
  }
  .lp-header {
    margin-top: -30px;
  }
  .abt {
    height: 150vh;
  }
}
@media (max-height: 560px) {
  .abt {
    height: 185vh;
  }
}/*# sourceMappingURL=style.css.map */