@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(2, 2, 2);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

@supports (scrollbar-color: #303030 #000000) {
  * {
    scrollbar-color: #303030 #000000;
    scrollbar-width: thin;
  }
}
.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.active {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px rgb(0, 179, 0);
}

.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 6;
  background-color: rgb(0, 0, 0);
}
.nav-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1710px;
  height: 60px;
}
.nav-content__logo {
  color: white;
  transition: all 0.1s ease-in-out;
  align-items: center;
  margin-left: 50px;
  cursor: default;
}
.nav-content__logo:hover {
  color: rgb(226, 226, 226);
}
.nav-content-list {
  display: flex;
  margin-left: auto;
  list-style: none;
}
.nav-content-list__item {
  color: white;
  padding: 20px 20px;
  margin-left: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.nav-content-list__item:hover {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px #007400;
}
.nav-content-list__btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 35px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(0, 179, 0);
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(0, 179, 0);
  cursor: pointer;
  color: white;
  margin: 12px 50px 0 50px;
}
.nav-content-list__btn:hover {
  background-color: rgb(0, 146, 0);
  border: 2px solid rgb(0, 146, 0);
}

.lp {
  width: 100%;
  height: 100vh;
  display: flex;
}
.lp-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.02;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}
.lp-imgs {
  position: absolute;
  top: 50px;
  right: 40px;
  width: 700px;
  -webkit-animation: fadeIn 0.5s ease-in-out forwards;
          animation: fadeIn 0.5s ease-in-out forwards;
}
.lp-imgs__guy {
  position: absolute;
  width: 600px;
  top: 100px;
  right: 140px;
  -webkit-animation: fadeIn 0.7s ease-in-out forwards;
          animation: fadeIn 0.7s ease-in-out forwards;
}
.lp-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 680px;
  height: 800px;
  top: 190px;
  left: 145px;
}
.lp-header__text {
  color: rgb(221, 221, 221);
  padding-left: 9px;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 26px;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
}
.lp-header-name {
  display: flex;
  color: white;
  font-weight: bolder;
  font-size: 120px;
  cursor: default;
}
.lp-header-name__letter:nth-child(1) {
  transition-delay: 100ms;
}
.lp-header-name__letter:nth-child(2) {
  transition-delay: 200ms;
}
.lp-header-name__letter:nth-child(3) {
  transition-delay: 300ms;
}
.lp-header-name__letter:nth-child(4) {
  transition-delay: 400ms;
}
.lp-header-name__letter:nth-child(5) {
  transition-delay: 500ms;
}
.lp-header-name__letter:nth-child(6) {
  transition-delay: 600ms;
}
.lp-header-name__letter:nth-child(7) {
  transition-delay: 700ms;
}
.lp-header-name__letter:nth-child(8) {
  transition-delay: 800ms;
}
.lp-header-name__letter:nth-child(9) {
  transition-delay: 900ms;
}
.lp-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 98%;
  height: 50px;
  margin: 15px 0 5px 10px;
  background-color: rgb(0, 179, 0);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-animation: slide 1s ease-in-out forwards;
          animation: slide 1s ease-in-out forwards;
}
.lp-header-title__position {
  position: absolute;
  color: white;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 18px;
  font-weight: 400;
  -webkit-animation: slide-positon 1.2s ease-in-out forwards;
          animation: slide-positon 1.2s ease-in-out forwards;
  cursor: default;
}
.lp-header__bio {
  color: white;
  margin-top: 25px;
  margin-left: 10px;
  width: 660px;
  text-align: center;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
}
.lp-header-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 10px;
  gap: 60px;
  width: 660px;
}
.lp-header-icons__icon {
  color: rgb(197, 197, 197);
  font-size: 40px;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  transition: all 0.1s ease-in-out;
}
.lp-header-icons__icon:hover {
  transform: scale(1.2);
  color: white;
}
.lp-header-action {
  width: 685px;
  margin-top: 150px;
}
.lp-header-action__text {
  color: white;
  text-align: center;
  -webkit-animation: 0.9s linear infinite alternate scrollDown;
          animation: 0.9s linear infinite alternate scrollDown;
  cursor: default;
}
.lp-header-action__circle {
  width: 30px;
  height: 30px;
  margin: 15px auto 0 auto;
  background-color: rgb(0, 179, 0);
  border-radius: 25px;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  transition: all 0.3s ease-in-out;
}
.lp-header-action__icon {
  display: flex;
  color: white;
  padding-top: 7px;
  padding-left: 8px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes slide {
  0% {
    height: 0px;
    opacity: 0%;
  }
  100% {
    height: 50px;
  }
}
@keyframes slide {
  0% {
    height: 0px;
    opacity: 0%;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes slide-positon {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: 13px;
  }
}
@keyframes slide-positon {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: 13px;
  }
}
@-webkit-keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (min-width: 2000px) {
  .lp-imgs {
    top: 50px;
    right: 100px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 200px;
  }
  .lp-header {
    top: 190px;
    left: 225px;
  }
}
@media (min-width: 2200px) {
  .lp-imgs {
    top: 50px;
    right: 150px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 250px;
  }
  .lp-header {
    top: 190px;
    left: 275px;
  }
}
@media (min-width: 2400px) {
  .lp-imgs {
    top: 50px;
    right: 200px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 300px;
  }
  .lp-header {
    top: 190px;
    left: 470px;
  }
}
@media (min-width: 2700px) {
  .lp-imgs {
    top: 50px;
    right: 200px;
  }
  .lp-imgs__guy {
    top: 100px;
    right: 300px;
  }
  .lp-header {
    top: 190px;
    left: 540px;
  }
}
@media (max-width: 1680px) {
  .lp-imgs {
    top: 80px;
    width: 600px;
  }
  .lp-imgs__guy {
    width: 500px;
    top: 130px;
  }
}
@media (max-width: 1585px) {
  .lp-imgs {
    top: 80px;
    width: 550px;
  }
  .lp-imgs__guy {
    width: 450px;
    top: 130px;
  }
  .lp-header {
    top: 190px;
    left: 125px;
  }
  .lp-header__text {
    font-size: 21px;
  }
  .lp-header-name {
    font-size: 110px;
  }
  .lp-header-title {
    width: 91%;
  }
  .lp-header__bio {
    width: 610px;
  }
  .lp-header-icons {
    width: 610px;
  }
  .lp-header-icons__icon {
    font-size: 38px;
  }
  .lp-header-action {
    width: 650px;
  }
}
@media (max-width: 1485px) {
  .lp-imgs {
    width: 500px;
  }
  .lp-imgs__guy {
    width: 400px;
    right: 100px;
  }
  .lp-header {
    top: 190px;
    left: 125px;
  }
  .lp-header__text {
    font-size: 19px;
  }
  .lp-header-name {
    font-size: 100px;
  }
  .lp-header-title {
    width: 82%;
  }
  .lp-header__bio {
    width: 555px;
  }
  .lp-header-icons {
    width: 555px;
  }
  .lp-header-action {
    width: 580px;
  }
}
@media (max-width: 1335px) {
  .lp-imgs {
    width: 450px;
  }
  .lp-imgs__guy {
    width: 350px;
    right: 100px;
  }
  .lp-header__text {
    font-size: 19px;
  }
  .lp-header-name {
    font-size: 90px;
  }
  .lp-header-title {
    width: 74%;
  }
  .lp-header__bio {
    width: 500px;
  }
  .lp-header-icons {
    width: 520px;
  }
  .lp-header-action {
    width: 550px;
  }
}
@media (max-width: 1215px) {
  .lp-imgs {
    width: 400px;
    right: 30px;
  }
  .lp-imgs__guy {
    width: 320px;
    right: 90px;
  }
  .lp-header {
    left: 85px;
  }
  .lp-header__text {
    font-size: 17px;
  }
  .lp-header-name {
    font-size: 83px;
  }
  .lp-header-title {
    width: 68%;
  }
  .lp-header__bio {
    width: 460px;
    font-size: 15px;
    margin-top: 10px;
  }
  .lp-header-icons {
    width: 465px;
  }
  .lp-header-action {
    width: 500px;
  }
}
@media (max-width: 1050px) {
  .lp-imgs {
    width: 350px;
    top: 90px;
    right: 30px;
  }
  .lp-imgs__guy {
    width: 280px;
    top: 130px;
    right: 70px;
  }
  .lp-header {
    left: 85px;
  }
  .lp-header__text {
    font-size: 14px;
  }
  .lp-header-name {
    font-size: 75px;
  }
  .lp-header-title {
    width: 61%;
  }
  .lp-header__bio {
    margin-top: 10px;
    font-size: 14px;
    width: 410px;
  }
  .lp-header-icons {
    width: 410px;
  }
  .lp-header-action {
    width: 445px;
    transform: scale(0.9);
  }
}
@media (max-width: 980px) {
  .lp-imgs {
    display: none;
  }
  .lp-imgs__guy {
    display: none;
  }
  .lp-header {
    position: static;
    justify-content: center;
    margin: 65px auto 0 auto;
  }
  .lp-header__text {
    font-size: 22px;
    text-align: center;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
            animation: fadeIn 1s ease-in-out forwards;
  }
  .lp-header-name {
    display: flex;
    color: white;
    font-weight: bolder;
    font-size: 120px;
    cursor: default;
  }
  .lp-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 98%;
    height: 50px;
    margin: 15px 0 5px 10px;
    background-color: rgb(0, 179, 0);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-animation: slide 1s ease-in-out forwards;
            animation: slide 1s ease-in-out forwards;
  }
  .lp-header-title__position {
    position: absolute;
    color: white;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 18px;
    font-weight: 400;
    -webkit-animation: slide-positon 1.2s ease-in-out forwards;
            animation: slide-positon 1.2s ease-in-out forwards;
    cursor: default;
  }
  .lp-header__bio {
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    width: 660px;
    text-align: center;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
            animation: fadeIn 1s ease-in-out forwards;
  }
  .lp-header-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 10px;
    gap: 60px;
    width: 660px;
  }
  .lp-header-icons__icon {
    color: rgb(197, 197, 197);
    font-size: 40px;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
            animation: fadeIn 1s ease-in-out forwards;
    transition: all 0.1s ease-in-out;
  }
  .lp-header-icons__icon:hover {
    transform: scale(1.2);
    color: white;
  }
  .lp-header-action {
    width: 685px;
    margin-top: 150px;
  }
  .lp-header-action__text {
    color: white;
    text-align: center;
    -webkit-animation: 0.9s linear infinite alternate scrollDown;
            animation: 0.9s linear infinite alternate scrollDown;
    cursor: default;
  }
  .lp-header-action__circle {
    width: 30px;
    height: 30px;
    margin: 15px auto 0 auto;
    background-color: rgb(0, 179, 0);
    border-radius: 25px;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
            animation: fadeIn 1s ease-in-out forwards;
    transition: all 0.3s ease-in-out;
  }
  .lp-header-action__icon {
    display: flex;
    color: white;
    padding-top: 7px;
    padding-left: 8px;
  }
}
@media (max-width: 850px) {
  .lp-header__text {
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-name {
    font-size: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-title {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header__bio {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-icons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-icons__icon {
    font-size: 38px;
  }
  .lp-header-action {
    width: 100%;
    padding-left: 15px;
  }
}
@media (max-width: 760px) {
  .lp-header__text {
    font-size: 18px;
  }
  .lp-header-name {
    font-size: 95px;
  }
  .lp-header-title {
    width: 77%;
  }
  .lp-header__bio {
    width: 530px;
    margin-top: 10px;
  }
  .lp-header-icons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .lp-header-icons__icon {
    font-size: 34px;
  }
}
@media (max-width: 665px) {
  .lp-header__text {
    font-size: 18px;
  }
  .lp-header-name {
    font-size: 78px;
  }
  .lp-header-title {
    width: 400px;
  }
  .lp-header__bio {
    width: 390px;
    font-size: 12px;
  }
}
@media (max-width: 545px) {
  .lp-header__text {
    font-size: 15px;
  }
  .lp-header-name {
    font-size: 65px;
  }
  .lp-header-title {
    width: 360px;
  }
  .lp-header-title__position {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .lp-header-icons__icon {
    font-size: 28px;
  }
  .lp-header-action {
    transform: scale(0.9);
  }
}
@media (max-width: 430px) {
  .lp-header__text {
    font-size: 12px;
  }
  .lp-header-name {
    font-size: 50px;
  }
  .lp-header__bio {
    width: 320px;
    margin-top: 5px;
    font-size: 12px;
  }
  .lp-header-title {
    width: 310px;
  }
  .lp-header-title__position {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 7px;
  }
  .lp-header-icons__icon {
    font-size: 23px;
  }
}
@media (max-width: 360px) {
  .lp-header__text {
    font-size: 10px;
  }
  .lp-header-name {
    font-size: 40px;
  }
  .lp-header__bio {
    width: 230px;
    height: 80px;
    margin-top: 5px;
    font-size: 12px;
  }
  .lp-header-title {
    width: 260px;
  }
  .lp-header-title__position {
    letter-spacing: 4px;
    font-size: 12px;
  }
  .lp-header-icons__icon {
    font-size: 28px;
  }
  .lp-header-action {
    transform: scale(0.8);
  }
}
@media (max-height: 740px) {
  .lp-header {
    margin-top: -20px;
  }
}
@media (max-height: 600px) {
  .lp-imgs {
    top: 60px;
  }
  .lp-imgs__guy {
    top: 110px;
  }
  .lp-header {
    margin-top: -50px;
  }
  .lp-header-icons {
    margin-top: 20px;
  }
  .lp-header-action {
    margin-top: 15px;
  }
}
@media (max-height: 570px) {
  .lp-header {
    margin-top: -90px;
  }
}/*# sourceMappingURL=style.css.map */