@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$green: rgb(0, 179, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(2, 2, 2);
}

// Scroll Bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

// Support for browsers that do not support webkit
@supports (scrollbar-color: #303030 #000000) {
  * {
    scrollbar-color: #303030 #000000;
    scrollbar-width: thin;
  }
}

// Intersection observer classes & other
.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.active {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px $green;
}

// Navigation bar
.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 6;
  background-color: rgb(0, 0, 0);

  &-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1710px;
    height: 60px;

    &__logo {
      color: white;
      transition: all 0.1s ease-in-out;
      align-items: center;
      margin-left: 50px;
      cursor: default;

      &:hover {
        color: rgb(226, 226, 226);
      }
    }

    &-list {
      display: flex;
      margin-left: auto;
      list-style: none;

      &__item {
        color: white;
        padding: 20px 20px;
        margin-left: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          margin-top: -8px;
          box-shadow: inset 0 51px 0 0.01px #007400;
        }
      }

      &__btn {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 35px;
        width: 80px;
        border-radius: 20px;
        background-color: $green;
        transition: all 0.2s ease-in-out;
        border: 2px solid $green;
        cursor: pointer;
        color: white;
        margin: 12px 50px 0 50px;

        &:hover {
          background-color: rgb(0, 146, 0);
          border: 2px solid rgb(0, 146, 0);
        }
      }
    }
  }
}

// Landing page
.lp {
  width: 100%;
  height: 100vh;
  display: flex;

  &-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.02;
    pointer-events: none;
    user-select: none;
    z-index: -1;
  }

  &-imgs {
    position: absolute;
    top: 50px;
    right: 40px;
    width: 700px;
    animation: fadeIn 0.5s ease-in-out forwards;

    &__guy {
      position: absolute;
      width: 600px;
      top: 100px;
      right: 140px;
      animation: fadeIn 0.7s ease-in-out forwards;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 680px;
    height: 800px;
    top: 190px;
    left: 145px;

    &__text {
      color: rgb(221, 221, 221);
      padding-left: 9px;
      letter-spacing: 8px;
      font-weight: bold;
      font-size: 26px;
      animation: fadeIn 1s ease-in-out forwards;
    }

    &-name {
      display: flex;
      color: white;
      font-weight: bolder;
      font-size: 120px;
      cursor: default;

      &__letter:nth-child(1) {
        transition-delay: 100ms;
      }
      &__letter:nth-child(2) {
        transition-delay: 200ms;
      }
      &__letter:nth-child(3) {
        transition-delay: 300ms;
      }
      &__letter:nth-child(4) {
        transition-delay: 400ms;
      }
      &__letter:nth-child(5) {
        transition-delay: 500ms;
      }
      &__letter:nth-child(6) {
        transition-delay: 600ms;
      }
      &__letter:nth-child(7) {
        transition-delay: 700ms;
      }
      &__letter:nth-child(8) {
        transition-delay: 800ms;
      }
      &__letter:nth-child(9) {
        transition-delay: 900ms;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 98%;
      height: 50px;
      margin: 15px 0 5px 10px;
      background-color: $green;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      animation: slide 1s ease-in-out forwards;

      &__position {
        position: absolute;
        color: white;
        letter-spacing: 8px;
        font-weight: bold;
        font-size: 18px;
        font-weight: 400;
        animation: slide-positon 1.2s ease-in-out forwards;
        cursor: default;
      }
    }

    &__bio {
      color: white;
      margin-top: 25px;
      margin-left: 10px;
      width: 660px;
      text-align: center;
      animation: fadeIn 1s ease-in-out forwards;
    }

    &-icons {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-left: 10px;
      gap: 60px;
      width: 660px;

      &__icon {
        color: rgb(197, 197, 197);
        font-size: 40px;
        animation: fadeIn 1s ease-in-out forwards;
        transition: all 0.1s ease-in-out;

        &:hover {
          transform: scale(1.2);
          color: white;
        }
      }
    }

    &-action {
      width: 685px;
      margin-top: 150px;

      &__text {
        color: white;
        text-align: center;
        animation: 0.9s linear infinite alternate scrollDown;
        cursor: default;
      }

      &__circle {
        width: 30px;
        height: 30px;
        margin: 15px auto 0 auto;
        background-color: $green;
        border-radius: 25px;
        animation: fadeIn 1s ease-in-out forwards;
        transition: all 0.3s ease-in-out;
      }

      &__icon {
        display: flex;
        color: white;
        padding-top: 7px;
        padding-left: 8px;
      }
    }
  }
}

.abt {
  position: relative;
  width: 100%;
  height: 100vh;

  &-imgs {
    position: absolute;
    top: 80px;
    left: 40px;
    width: 700px;
    animation: fadeIn 0.7s ease-in-out forwards;

    &__guy {
      position: absolute;
      width: 720px;
      top: 150px;
      left: 130px;
      animation: fadeIn 0.7s ease-in-out forwards;
    }
  }

  &-me {
    position: absolute;
    width: 53%;
    top: 200px;
    right: 20px;
    padding: 15px;

    &__title {
      color: white;
      font-size: 60px;
      margin-right: 150px;
      margin-bottom: 20px;
    }

    &__text {
      color: white;
      font-size: 18px;
      margin-right: 150px;
    }

    &-logos-container {
      width: 100%;
      display: flex;

      &--one {
        display: flex;
      }

      &--two {
        display: flex;
      }
    }

    &-skill {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 25px;
      margin-right: 50px;

      &__logo {
        width: auto;
        height: 40px;
        padding-bottom: 10px;
        transition-delay: 500ms;
      }

      &__title {
        color: white;
        font-size: 18px;
        transition-delay: 650ms;
      }
    }

    #firebase {
      margin-right: 35px;
    }

    #photoshop {
      margin-top: 27px;
    }
  }
}

.prjs {
  width: 100%;
  height: 100vh;
  background-color: blue;
}

// Animations
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slide {
  0% {
    height: 0px;
    opacity: 0%;
  }

  100% {
    height: 50px;
  }
}

@keyframes slide-positon {
  0% {
    bottom: -20px;
  }

  50% {
    bottom: -20px;
  }

  100% {
    bottom: 13px;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

// Media queries
// Landing page
@media (min-width: 2000px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 100px;

      &__guy {
        top: 100px;
        right: 200px;
      }
    }

    &-header {
      top: 190px;
      left: 225px;
    }
  }
}

@media (min-width: 2200px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 150px;

      &__guy {
        top: 100px;
        right: 250px;
      }
    }

    &-header {
      top: 190px;
      left: 275px;
    }
  }
}

@media (min-width: 2400px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 200px;

      &__guy {
        top: 100px;
        right: 300px;
      }
    }

    &-header {
      top: 190px;
      left: 470px;
    }
  }
}

@media (min-width: 2700px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 200px;

      &__guy {
        top: 100px;
        right: 300px;
      }
    }

    &-header {
      top: 190px;
      left: 540px;
    }
  }
}

@media (max-width: 1680px) {
  .lp {
    &-imgs {
      top: 80px;
      width: 600px;

      &__guy {
        width: 500px;
        top: 130px;
      }
    }
  }
}

@media (max-width: 1585px) {
  .lp {
    &-imgs {
      top: 80px;
      width: 550px;

      &__guy {
        width: 450px;
        top: 130px;
      }
    }

    &-header {
      top: 190px;
      left: 125px;

      &__text {
        font-size: 21px;
      }

      &-name {
        font-size: 110px;
      }

      &-title {
        width: 91%;
      }

      &__bio {
        width: 610px;
      }

      &-icons {
        width: 610px;

        &__icon {
          font-size: 38px;
        }
      }

      &-action {
        width: 650px;
      }
    }
  }
}

@media (max-width: 1485px) {
  .lp {
    &-imgs {
      width: 500px;

      &__guy {
        width: 400px;
        right: 100px;
      }
    }

    &-header {
      top: 190px;
      left: 125px;

      &__text {
        font-size: 19px;
      }

      &-name {
        font-size: 100px;
      }

      &-title {
        width: 82%;
      }

      &__bio {
        width: 555px;
      }

      &-icons {
        width: 555px;
      }

      &-action {
        width: 580px;
      }
    }
  }
}

@media (max-width: 1335px) {
  .lp {
    &-imgs {
      width: 450px;

      &__guy {
        width: 350px;
        right: 100px;
      }
    }

    &-header {
      &__text {
        font-size: 19px;
      }

      &-name {
        font-size: 90px;
      }

      &-title {
        width: 74%;
      }

      &__bio {
        width: 500px;
      }

      &-icons {
        width: 520px;
      }

      &-action {
        width: 550px;
      }
    }
  }
}

@media (max-width: 1215px) {
  .lp {
    &-imgs {
      width: 400px;
      right: 30px;

      &__guy {
        width: 320px;
        right: 90px;
      }
    }

    &-header {
      left: 85px;

      &__text {
        font-size: 17px;
      }

      &-name {
        font-size: 83px;
      }

      &-title {
        width: 68%;
      }

      &__bio {
        width: 460px;
        font-size: 15px;
        margin-top: 10px;
      }

      &-icons {
        width: 465px;
      }

      &-action {
        width: 500px;
      }
    }
  }
}

@media (max-width: 1050px) {
  .lp {
    &-imgs {
      width: 350px;
      top: 90px;
      right: 30px;

      &__guy {
        width: 280px;
        top: 130px;
        right: 70px;
      }
    }

    &-header {
      left: 85px;

      &__text {
        font-size: 14px;
      }

      &-name {
        font-size: 75px;
      }

      &-title {
        width: 61%;
      }

      &__bio {
        margin-top: 10px;
        font-size: 14px;
        width: 410px;
      }

      &-icons {
        width: 410px;
      }

      &-action {
        width: 445px;
        transform: scale(0.9);
      }
    }
  }
}

@media (max-width: 980px) {
  .lp {
    &-imgs {
      display: none;

      &__guy {
        display: none;
      }
    }

    &-header {
      position: static;
      justify-content: center;
      margin: 65px auto 0 auto;

      &__text {
        font-size: 22px;
        text-align: center;
        animation: fadeIn 1s ease-in-out forwards;
      }

      &-name {
        display: flex;
        color: white;
        font-weight: bolder;
        font-size: 120px;
        cursor: default;
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 98%;
        height: 50px;
        margin: 15px 0 5px 10px;
        background-color: $green;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        animation: slide 1s ease-in-out forwards;

        &__position {
          position: absolute;
          color: white;
          letter-spacing: 8px;
          font-weight: bold;
          font-size: 18px;
          font-weight: 400;
          animation: slide-positon 1.2s ease-in-out forwards;
          cursor: default;
        }
      }

      &__bio {
        color: white;
        margin-top: 25px;
        margin-left: 10px;
        width: 660px;
        text-align: center;
        animation: fadeIn 1s ease-in-out forwards;
      }

      &-icons {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 10px;
        gap: 60px;
        width: 660px;

        &__icon {
          color: rgb(197, 197, 197);
          font-size: 40px;
          animation: fadeIn 1s ease-in-out forwards;
          transition: all 0.1s ease-in-out;

          &:hover {
            transform: scale(1.2);
            color: white;
          }
        }
      }

      &-action {
        width: 685px;
        margin-top: 150px;

        &__text {
          color: white;
          text-align: center;
          animation: 0.9s linear infinite alternate scrollDown;
          cursor: default;
        }

        &__circle {
          width: 30px;
          height: 30px;
          margin: 15px auto 0 auto;
          background-color: $green;
          border-radius: 25px;
          animation: fadeIn 1s ease-in-out forwards;
          transition: all 0.3s ease-in-out;
        }

        &__icon {
          display: flex;
          color: white;
          padding-top: 7px;
          padding-left: 8px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .lp {
    &-header {
      &__text {
        font-size: 21px;
        margin-left: auto;
        margin-right: auto;
      }

      &-name {
        font-size: 110px;
        margin-left: auto;
        margin-right: auto;
      }

      &-title {
        width: 91%;
        margin-left: auto;
        margin-right: auto;
      }

      &__bio {
        width: 610px;
        margin-left: auto;
        margin-right: auto;
      }

      &-icons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &__icon {
          font-size: 38px;
        }
      }

      &-action {
        width: 100%;
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 760px) {
  .lp {
    &-header {
      &__text {
        font-size: 18px;
      }

      &-name {
        font-size: 95px;
      }

      &-title {
        width: 77%;
      }

      &__bio {
        width: 530px;
        margin-top: 10px;
      }

      &-icons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &__icon {
          font-size: 34px;
        }
      }
    }
  }
}

@media (max-width: 665px) {
  .lp {
    &-header {
      &__text {
        font-size: 18px;
      }

      &-name {
        font-size: 78px;
      }

      &-title {
        width: 400px;
      }

      &__bio {
        width: 390px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 545px) {
  .lp {
    &-header {
      &__text {
        font-size: 15px;
      }

      &-name {
        font-size: 65px;
      }

      &-title {
        width: 360px;

        &__position {
          font-size: 15px;
          margin-bottom: 3px;
        }
      }

      &-icons {
        &__icon {
          font-size: 28px;
        }
      }

      &-action {
        transform: scale(0.9);
      }
    }
  }
}

@media (max-width: 430px) {
  .lp {
    &-header {
      &__text {
        font-size: 12px;
      }

      &-name {
        font-size: 50px;
      }

      &__bio {
        width: 320px;
        margin-top: 5px;
        font-size: 12px;
      }

      &-title {
        width: 310px;

        &__position {
          font-size: 12px;
          margin-bottom: 5px;
          margin-left: 7px;
        }
      }

      &-icons {
        &__icon {
          font-size: 23px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .lp {
    &-header {
      &__text {
        font-size: 10px;
      }

      &-name {
        font-size: 40px;
      }

      &__bio {
        width: 230px;
        height: 80px;
        margin-top: 5px;
        font-size: 12px;
      }

      &-title {
        width: 260px;

        &__position {
          letter-spacing: 4px;
          font-size: 12px;
        }
      }

      &-icons {
        &__icon {
          font-size: 28px;
        }
      }

      &-action {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-height: 740px) {
  .lp {
    &-header {
      margin-top: -20px;
    }
  }
}

@media (max-height: 600px) {
  .lp {
    &-imgs {
      top: 60px;

      &__guy {
        top: 110px;
      }
    }

    &-header {
      margin-top: -50px;
      &-icons {
        margin-top: 20px;
      }
      &-action {
        margin-top: 15px;
      }
    }
  }
}

@media (max-height: 570px) {
  .lp {
    &-header {
      margin-top: -90px;
    }
  }
}

//About
@media (min-width: 2090px) {
  .abt {
    &-imgs {
      left: 100px;
      top: 70px;

      &__guy {
        left: 150px;
        top: 150px;
      }
    }
  }
}

@media (min-width: 2400px) {
  .abt {
    &-imgs {
      left: 140px;
      top: 70px;

      &__guy {
        left: 200px;
        top: 150px;
      }
    }

    &-me {
      top: 230px;
      width: 60%;
    }
  }
}

@media (max-width: 1740px) {
  .abt {
    &-imgs {
      left: 10px;

      &__guy {
        left: 70px;
      }
    }

    &-me {
      width: 55%;
    }
  }
}

@media (max-width: 1650px) {
  .abt {
    &-imgs {
      top: 70px;
      left: 20px;
      width: 600px;

      &__guy {
        width: 620px;
        top: 150px;
        left: 70px;
      }
    }

    &-me {
      width: 57%;
      top: 140px;
    }
  }
}

@media (max-width: 1550px) {
  .abt {
    &-me {
      width: 54%;
      top: 120px;
      right: 0px;

      &__title {
        font-size: 50px;
        margin-right: 150px;
      }

      &__text {
        font-size: 16px;
        margin-right: 100px;
      }

      &-skill {
        &__logo {
          height: 34px;
        }

        &__title {
          font-size: 16px;
        }
      }

      &-logos-container {
        display: block;

        &--one {
          display: flex;
        }

        &--two {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 1435px) {
  .abt {
    &-imgs {
      left: 20px;
      width: 550px;

      &__guy {
        width: 540px;
        top: 140px;
        left: 70px;
      }
    }

    &-me {
      width: 54%;
      right: 0px;
    }
  }
}

@media (max-width: 1260px) {
  .abt {
    &-imgs {
      left: 20px;
      width: 500px;

      &__guy {
        width: 500px;
        top: 120px;
        left: 70px;
      }
    }

    &-me {
      width: 54%;
      top: 130px;
      right: 0px;

      &__title {
        font-size: 50px;
        margin-right: 150px;
      }

      &__text {
        font-size: 14px;
        margin-right: 100px;
      }

      &-skill {
        &__logo {
          height: 32px;
        }

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1135px) {
  .abt {
    &-imgs {
      top: 230px;
      left: 300px;
      width: 350px;

      &__guy {
        width: 350px;
        top: 260px;
        left: 350px;
      }
    }

    &-me {
      width: 100%;
      top: 150px;
      right: 0px;
      padding: 0 100px 100px 100px;

      &__title {
        font-size: 50px;
        margin-right: 0px;
      }

      &__text {
        font-size: 14px;
        margin-right: 0px;
      }

      &-skill {
        &__logo {
          height: 34px;
        }

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1005px) {
  .abt {
    &-imgs {
      top: 250px;
      left: 250px;
      width: 350px;

      &__guy {
        width: 350px;
        top: 290px;
        left: 300px;
      }
    }
  }
}

@media (max-width: 910px) {
  .abt {
    &-imgs {
      display: none;

      &__guy {
        display: none;
      }
    }
  }
}

@media (max-width: 725px) {
  .abt {
    &-me {
      top: 120px;
    }
  }
}

@media (max-width: 725px) {
  .abt {
    &-me {
      width: 100%;
      top: 120px;
      right: 0px;
      padding: 0 70px 70px 70px;

      &__title {
        font-size: 40px;
        margin-right: 0px;
      }

      &__text {
        font-size: 14px;
        margin-right: 0px;
      }

      &-skill {
        &__logo {
          height: 32px;
        }

        &__title {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .abt {
    &-me {
      top: 90px;
    }
  }
}

@media (max-width: 515px) {
  .abt {
    &-me {
      width: 100%;
      top: 120px;
      padding: 0 50px 50px 50px;

      &__title {
        font-size: 30px;
        margin-right: 0px;
      }

      &__text {
        font-size: 13px;
        margin-right: 0px;
      }

      &-skill {
        &__logo {
          height: 30px;
        }

        &__title {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .abt {
    &-me {
      top: 90px;
    }
  }
}

@media (max-width: 410px) {
  .abt {
    height: 120vh;

    &-me {
      &-logos-container {
        display: flex;

        &--one {
          display: block;
        }

        &--two {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 355px) {
  .abt {
    &-me {
      width: 100%;
      top: 120px;
      padding: 0 20px 20px 20px;
    }
  }
}
