@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$green: rgb(0, 179, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(2, 2, 2);
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.03;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;

  .bg--next {
    position: absolute;
  }
}

// Scroll Bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 20px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

// Support for browsers that do not support webkit
@supports (scrollbar-color: #303030 #000000) {
  * {
    scrollbar-color: #303030 #000000;
    scrollbar-width: thin;
  }
}

// Intersection observer classes & other
.hidden {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.active {
  margin-top: -8px;
  box-shadow: inset 0 51px 0 0.01px $green;
}

// Navigation bar
.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 6;
  background-color: rgb(0, 0, 0);

  &-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1710px;
    height: 60px;

    &-hamburger-menu {
      left: -100%;
      transition: all 0.3s ease-in-out;

      ul {
        position: absolute;
        left: -100%;
      }

      &__btn {
        position: absolute;
        left: -100%;
      }
    }

    &__logo {
      color: white;
      transition: all 0.1s ease-in-out;
      align-items: center;
      margin-left: 50px;
      cursor: default;

      &:hover {
        color: rgb(226, 226, 226);
      }
    }

    &-list {
      display: flex;
      margin-left: auto;
      list-style: none;

      &__item {
        color: white;
        padding: 20px 20px;
        margin-left: 50px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          margin-top: -8px;
          box-shadow: inset 0 51px 0 0.01px #007400;
        }
      }

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 5px;
        height: 35px;
        width: 80px;
        border-radius: 20px;
        background-color: $green;
        transition: all 0.2s ease-in-out;
        border: 2px solid $green;
        cursor: pointer;
        color: white;
        margin: 12px 50px 0 50px;

        &:hover {
          background-color: rgb(0, 146, 0);
          border: 2px solid rgb(0, 146, 0);
        }
      }
    }
  }
}

// Landing page
.lp {
  display: flex;
  width: 100%;
  height: 100vh;

  &-imgs {
    position: absolute;
    top: 50px;
    right: 40px;
    width: 700px;
    animation: fadeIn 0.5s ease-in-out forwards;

    &__guy {
      position: absolute;
      width: 600px;
      top: 100px;
      right: 140px;
      animation: fadeIn 0.7s ease-in-out forwards;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 680px;
    height: 800px;
    top: 190px;
    left: 145px;

    &__text {
      color: rgb(221, 221, 221);
      padding-left: 9px;
      letter-spacing: 8px;
      font-weight: bold;
      font-size: 26px;
      animation: fadeIn 1s ease-in-out forwards;
    }

    &-name {
      display: flex;
      color: white;
      font-weight: bolder;
      font-size: 120px;
      cursor: default;

      &__letter:nth-child(1) {
        transition-delay: 100ms;
      }
      &__letter:nth-child(2) {
        transition-delay: 200ms;
      }
      &__letter:nth-child(3) {
        transition-delay: 300ms;
      }
      &__letter:nth-child(4) {
        transition-delay: 400ms;
      }
      &__letter:nth-child(5) {
        transition-delay: 500ms;
      }
      &__letter:nth-child(6) {
        transition-delay: 600ms;
      }
      &__letter:nth-child(7) {
        transition-delay: 700ms;
      }
      &__letter:nth-child(8) {
        transition-delay: 800ms;
      }
      &__letter:nth-child(9) {
        transition-delay: 900ms;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 98%;
      height: 50px;
      margin: 15px 0 5px 10px;
      background-color: $green;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      animation: slide 1s ease-in-out forwards;

      &__position {
        position: absolute;
        color: white;
        letter-spacing: 8px;
        font-weight: bold;
        font-size: 18px;
        font-weight: 400;
        animation: slide-positon 1.2s ease-in-out forwards;
        cursor: default;
      }
    }

    &__bio {
      color: white;
      margin-top: 25px;
      margin-left: 10px;
      width: 660px;
      text-align: center;
      animation: fadeIn 1s ease-in-out forwards;
    }

    &-icons {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-left: 10px;
      gap: 60px;
      width: 660px;

      &__icon {
        color: rgb(197, 197, 197);
        font-size: 40px;
        animation: fadeIn 1s ease-in-out forwards;
        transition: all 0.1s ease-in-out;

        &:hover {
          transform: scale(1.2);
          color: white;
        }
      }
    }

    &-action {
      width: 685px;
      margin-top: 150px;

      &__text {
        color: white;
        text-align: center;
        animation: 0.9s linear infinite alternate scrollDown;
        cursor: default;
      }

      &__circle {
        width: 30px;
        height: 30px;
        margin: 15px auto 0 auto;
        background-color: $green;
        border-radius: 25px;
        animation: fadeIn 1s ease-in-out forwards;
        transition: all 0.3s ease-in-out;
      }

      &__icon {
        display: flex;
        color: white;
        padding-top: 7px;
        padding-left: 8px;
      }
    }
  }
}

.abt {
  position: relative;
  width: 100%;
  height: 100vh;

  &-imgs {
    position: absolute;
    top: 80px;
    left: 40px;
    width: 700px;
    animation: fadeIn 0.7s ease-in-out forwards;

    &__guy {
      position: absolute;
      width: 720px;
      top: 140px;
      left: 130px;
      animation: fadeIn 0.7s ease-in-out forwards;
    }
  }

  &-me {
    position: absolute;
    width: 53%;
    top: 190px;
    right: 20px;
    padding: 15px;

    &__title {
      color: white;
      font-size: 60px;
      margin-right: 150px;
      margin-bottom: 20px;
    }

    &__text {
      color: white;
      font-size: 18px;
      margin-right: 150px;
    }

    &-logos-container {
      width: 100%;
      display: flex;

      &--one {
        display: flex;
      }

      &--two {
        display: flex;
      }
    }

    &-skill {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 25px;
      margin-right: 50px;

      &__logo {
        width: auto;
        height: 40px;
        padding-bottom: 10px;
        transition-delay: 500ms;
      }

      &__title {
        color: white;
        font-size: 18px;
        transition-delay: 650ms;
      }
    }

    #firebase {
      margin-right: 35px;
    }

    #photoshop {
      margin-top: 27px;
    }
  }
}

.prj {
  position: relative;
  width: 100%;
  height: 100vh;

  &-header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    align-items: center;
    width: 70%;
    height: auto;

    &__title {
      font-size: 60px;
      color: white;
      padding-top: 90px;
      margin-top: 20px;
      margin-bottom: 25px;
    }

    &__desc {
      color: white;

      &__link {
        text-decoration: none;
        color: $green;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #007400;
        }
      }
    }
  }

  &-cards {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 50px;

    &__card {
      width: 600px;
      height: 540px;
      background-color: #000000;
      object-fit: cover;
      border-radius: 10px;
      color: white;

      &:nth-child(1) {
        transition-delay: 100ms;
      }
      &:nth-child(2) {
        transition-delay: 200ms;
      }

      &-img {
        overflow: hidden;
        width: 100%;
        height: 250px;
        background: linear-gradient(
          184deg,
          rgba(0, 106, 0, 1) 0%,
          rgba(0, 179, 0, 1) 0%
        );
        border-bottom: 4px solid #00b300;
        border-radius: 10px;
      }

      &__img {
        width: 100%;
        border-radius: 10px;
        opacity: 0.55;
        object-fit: cover;
      }

      &-inner {
        padding: 20px;

        &__title {
          margin-bottom: 5px;
        }

        &-tags {
          display: flex;
          width: 100%;
          gap: 10px;
          margin-bottom: 15px;

          &__tag {
            background-color: rgb(133, 102, 0);
            padding: 2px 10px;
            font-weight: 500;
            font-size: 14px;
            cursor: default;

            &:hover {
              background-color: rgb(158, 121, 1);
            }
          }
        }

        &__desc {
          width: 100%;
          height: 120px;
          overflow-y: scroll;
        }

        &-btns {
          display: flex;
          margin-top: 20px;
          gap: 15px;
        }
      }
    }
  }

  &__btn {
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 2px solid #00b300;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    cursor: pointer;

    &--primary {
      background-color: #00b300;

      &:hover {
        background-color: #007700;
        border: 2px solid #007700;
      }
    }

    &--secondary {
      background-color: transparent;

      &:hover {
        box-shadow: inset 145px 0 0 0.01px #00b300;
      }
    }
  }

  &__icon--site {
    color: white;
    margin-right: 5px;
  }
}

// Contact
.ct {
  width: 100%;
  height: 100vh;

  &-form {
    width: 1000px;
    margin: 0 auto;
  }

  &__title {
    color: white;
    font-size: 60px;
    padding-top: 120px;
    text-align: center;
  }

  &-form {
    &__title {
      color: white;
      margin-top: 70px;
      margin-bottom: 20px;
    }

    &-desc {
      display: flex;
      width: 100%;
      gap: 40px;
      justify-content: center;
      text-align: center;
      margin-top: 20px;

      &__email,
      &__location {
        color: white;
        font-size: 20px;
      }

      &__marker {
        color: red;
      }
    }

    &-container {
      &-top {
        display: flex;
        justify-content: space-between;
      }
    }

    &__field {
      padding: 10px;
      width: 32%;
      background-color: black;
      border: 2px solid rgb(139, 139, 139);
      border-radius: 10px;
      outline: none;
      color: white;

      &:focus {
        border: 2px solid #00b300;
      }

      &--message {
        width: 99.8%;
        height: 300px;
        margin-top: 10px;
        resize: none;
      }
    }

    &__submit-btn {
      background-color: #00b300;
      padding: 15px 65px;
      font-size: 15px;
      margin-top: 20px;
      color: white;
      border-radius: 25px;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #007700;
      }
    }
  }

  .copyright {
    width: 100%;
    margin-top: 140px;
    padding-bottom: 30px;

    &__text {
      color: rgb(102, 102, 102);
      text-align: center;
    }
  }
}

// Animations
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes slide {
  0% {
    height: 0px;
    opacity: 0%;
  }

  100% {
    height: 50px;
  }
}

@keyframes slide-positon {
  0% {
    bottom: -20px;
  }

  50% {
    bottom: -20px;
  }

  100% {
    bottom: 13px;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

// Media queries

@media (max-width: 430px) {
  ::-webkit-scrollbar {
    display: none;
  }

  // Support for browsers that do not support webkit
  @supports (scrollbar-color: #303030 #000000) {
    * {
      scrollbar-width: none;
    }
  }
}

// Navigation bar
@media (max-width: 980px) {
  .nav {
    &-content {
      &-hamburger {
        display: block;
        transition: all 0.3s ease-in-out;
        margin: -3px 50px 0 auto;
        cursor: pointer;

        &-menu {
          position: fixed;
          top: 60px;
          left: -100%;
          justify-content: center;
          background-color: rgba($color: #000000, $alpha: 0.99);
          width: 100%;
          height: 100vh;
          text-align: center;
          transition: all 0.3s ease-in-out;
          animation: fadeOut 0.3s ease-in-out forwards;

          ul {
            position: static;
            margin-top: 130px;
          }

          &__item {
            display: block;
            list-style: none;
            text-decoration: none;
            color: white;
            font-size: 50px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            li {
              margin-bottom: 70px;

              cursor: pointer;
            }
          }

          &__btn {
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap: 5px;
            height: 45px;
            width: 120px;
            margin: 0 auto;
            border-radius: 20px;
            background-color: $green;
            transition: all 0.2s ease-in-out;
            border: 2px solid $green;
            cursor: pointer;
            color: white;

            &:hover {
              background-color: rgb(0, 146, 0);
              border: 2px solid rgb(0, 146, 0);
            }
          }
        }

        &__line {
          width: 35px;
          height: 2px;
          margin-top: 5px;
          background-color: white;
          transition: all 0.3s ease-in-out;
        }
      }

      &-list {
        display: none;
      }
    }
  }

  .ham-active {
    transition: all 0.3s ease-in-out;

    .nav-content-hamburger__line {
      transition: all 0.3s ease-in-out;
    }

    .nav-content-hamburger__line:nth-child(2) {
      opacity: 0;
    }

    .nav-content-hamburger__line:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    .nav-content-hamburger__line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .menu-active {
    left: 0;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
}

@media (max-width: 620px) {
  .nav {
    &-content {
      &-hamburger {
        &-menu {
          &__item {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .nav {
    &-content {
      &-hamburger {
        &-menu {
          ul {
            margin-top: 130px;
          }

          &__item {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .nav {
    &-content {
      &__logo {
        margin-left: 20px;
      }

      &-hamburger {
        margin: -3px 20px 0 auto;
      }
    }
  }
}

@media (max-height: 750px) {
  .nav {
    &-content {
      &-hamburger {
        &-menu {
          ul {
            margin-top: 90px;
          }
        }
      }
    }
  }
}

@media (max-height: 700px) {
  .nav {
    &-content {
      &-hamburger {
        &-menu {
          ul {
            margin-top: 60px;
          }
        }
      }
    }
  }
}

@media (max-height: 650px) {
  .nav {
    &-content {
      &-hamburger {
        &-menu {
          ul {
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media (max-height: 625px) {
  .nav {
    &-content {
      &-hamburger {
        &-menu {
          ul {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// Landing page
@media (min-width: 2000px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 100px;

      &__guy {
        top: 100px;
        right: 200px;
      }
    }

    &-header {
      top: 190px;
      left: 225px;
    }
  }
}

@media (min-width: 2200px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 150px;

      &__guy {
        top: 100px;
        right: 250px;
      }
    }

    &-header {
      top: 190px;
      left: 275px;
    }
  }
}

@media (min-width: 2400px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 200px;

      &__guy {
        top: 100px;
        right: 300px;
      }
    }

    &-header {
      top: 190px;
      left: 470px;
    }
  }
}

@media (min-width: 2700px) {
  .lp {
    &-imgs {
      top: 50px;
      right: 200px;

      &__guy {
        top: 100px;
        right: 300px;
      }
    }

    &-header {
      top: 190px;
      left: 540px;
    }
  }
}

@media (max-width: 1680px) {
  .lp {
    &-imgs {
      top: 80px;
      width: 600px;

      &__guy {
        width: 500px;
        top: 130px;
      }
    }
  }
}

@media (max-width: 1585px) {
  .lp {
    &-imgs {
      top: 80px;
      width: 550px;

      &__guy {
        width: 450px;
        top: 130px;
      }
    }

    &-header {
      top: 190px;
      left: 125px;

      &__text {
        font-size: 21px;
      }

      &-name {
        font-size: 110px;
      }

      &-title {
        width: 91%;
      }

      &__bio {
        width: 610px;
      }

      &-icons {
        width: 610px;

        &__icon {
          font-size: 38px;
        }
      }

      &-action {
        width: 650px;
      }
    }
  }
}

@media (max-width: 1485px) {
  .lp {
    &-imgs {
      width: 500px;

      &__guy {
        width: 400px;
        right: 100px;
      }
    }

    &-header {
      top: 190px;
      left: 125px;

      &__text {
        font-size: 19px;
      }

      &-name {
        font-size: 100px;
      }

      &-title {
        width: 82%;
      }

      &__bio {
        width: 555px;
      }

      &-icons {
        width: 555px;
      }

      &-action {
        width: 580px;
      }
    }
  }
}

@media (max-width: 1370px) {
  .lp {
    &-imgs {
      margin-top: -30px;

      &__guy {
        margin-top: -30px;
      }
    }

    &-header {
      margin-top: -50px;
    }
  }
}

@media (max-width: 1335px) {
  .lp {
    &-imgs {
      width: 450px;

      &__guy {
        width: 350px;
        right: 100px;
      }
    }

    &-header {
      &__text {
        font-size: 19px;
      }

      &-name {
        font-size: 90px;
      }

      &-title {
        width: 74%;
      }

      &__bio {
        width: 500px;
      }

      &-icons {
        width: 520px;
      }

      &-action {
        width: 550px;
      }
    }
  }
}

@media (max-width: 1285px) {
  .lp {
    &-header {
      &-action {
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 1215px) {
  .lp {
    &-imgs {
      width: 400px;
      right: 30px;

      &__guy {
        width: 320px;
        right: 90px;
      }
    }

    &-header {
      left: 85px;

      &__text {
        font-size: 17px;
      }

      &-name {
        font-size: 83px;
      }

      &-title {
        width: 68%;
      }

      &__bio {
        width: 460px;
        font-size: 15px;
        margin-top: 10px;
      }

      &-icons {
        width: 465px;
      }

      &-action {
        width: 500px;
      }
    }
  }
}

@media (max-width: 1050px) {
  .lp {
    &-imgs {
      width: 350px;
      top: 90px;
      right: 30px;

      &__guy {
        width: 280px;
        top: 130px;
        right: 70px;
      }
    }

    &-header {
      left: 85px;

      &__text {
        font-size: 14px;
      }

      &-name {
        font-size: 75px;
      }

      &-title {
        width: 61%;
      }

      &__bio {
        margin-top: 10px;
        font-size: 14px;
        width: 410px;
      }

      &-icons {
        width: 410px;
      }

      &-action {
        width: 445px;
        transform: scale(0.9);

        &__text {
          color: white;
          text-align: center;
          animation: 0.9s linear infinite alternate scrollDown;
          cursor: default;
        }

        &__icon {
          padding-left: 9px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .lp {
    &-imgs {
      display: none;

      &__guy {
        display: none;
      }
    }

    &-header {
      position: static;
      justify-content: center;
      margin: 25px auto 0 auto;

      &__text {
        font-size: 22px;
      }

      &-name {
        font-size: 120px;
      }

      &-title {
        width: 98%;
        height: 50px;
        margin: 15px 0 5px 10px;

        &__position {
          font-size: 18px;
        }
      }

      &__bio {
        color: white;
        margin-top: 25px;
        margin-left: 10px;
        width: 660px;
        text-align: center;
        animation: fadeIn 1s ease-in-out forwards;
      }

      &-icons {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 10px;
        gap: 60px;
        width: 660px;

        &__icon {
          color: rgb(197, 197, 197);
          font-size: 40px;
          animation: fadeIn 1s ease-in-out forwards;
          transition: all 0.1s ease-in-out;

          &:hover {
            transform: scale(1.2);
            color: white;
          }
        }
      }

      &-action {
        width: 685px;
        margin-top: 150px;

        &__icon {
          padding-top: 7px;
          padding-left: 9px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .lp {
    &-header {
      &__text {
        font-size: 21px;
        margin-left: auto;
        margin-right: auto;
      }

      &-name {
        font-size: 110px;
        margin-left: auto;
        margin-right: auto;
      }

      &-title {
        width: 91%;
        margin-left: auto;
        margin-right: auto;
      }

      &__bio {
        width: 610px;
        margin-left: auto;
        margin-right: auto;
      }

      &-icons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &__icon {
          font-size: 38px;
        }
      }

      &-action {
        width: 100%;
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 760px) {
  .lp {
    &-header {
      &__text {
        font-size: 18px;
      }

      &-name {
        font-size: 95px;
      }

      &-title {
        width: 77%;
      }

      &__bio {
        width: 530px;
        margin-top: 10px;
      }

      &-icons {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &__icon {
          font-size: 34px;
        }
      }
    }
  }
}

@media (max-width: 665px) {
  .lp {
    &-header {
      &__text {
        font-size: 18px;
      }

      &-name {
        font-size: 78px;
      }

      &-title {
        width: 400px;
      }

      &__bio {
        width: 390px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 545px) {
  .lp {
    &-header {
      &__text {
        font-size: 15px;
      }

      &-name {
        font-size: 65px;
      }

      &-title {
        width: 360px;

        &__position {
          font-size: 15px;
          margin-bottom: 3px;
        }
      }

      &-icons {
        &__icon {
          font-size: 28px;
        }
      }

      &-action {
        transform: scale(0.9);
      }
    }
  }
}

@media (max-width: 430px) {
  .lp {
    &-header {
      &__text {
        font-size: 12px;
      }

      &-name {
        font-size: 50px;
      }

      &__bio {
        width: 320px;
        margin-top: 5px;
        font-size: 12px;
      }

      &-title {
        width: 310px;

        &__position {
          font-size: 12px;
          margin-bottom: 5px;
          margin-left: 7px;
        }
      }

      &-icons {
        &__icon {
          font-size: 23px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .lp {
    &-header {
      margin: 0;
    }
  }
}

@media (max-width: 375px) {
  .lp {
    &-header {
      &-action {
        transform: scale(0.8);
        margin-top: 130px;
      }
    }
  }
}

@media (max-width: 360px) {
  .lp {
    &-header {
      &__text {
        font-size: 10px;
      }

      &-name {
        font-size: 40px;
      }

      &__bio {
        width: 230px;
        height: 80px;
        margin-top: 5px;
        font-size: 12px;
      }

      &-title {
        width: 260px;

        &__position {
          letter-spacing: 4px;
          font-size: 12px;
        }
      }

      &-icons {
        &__icon {
          font-size: 28px;
        }
      }

      &-action {
        transform: scale(0.8);

        &__icon {
          padding-left: 8.5px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .lp {
    height: 130vh;
    margin-top: -60px;

    .lp {
      &-header {
        &-action {
          margin-top: 20px;
        }
      }
    }
  }
}

//About
@media (min-width: 2400px) {
  .abt {
    &-imgs {
      left: 140px;
      top: 70px;

      &__guy {
        left: 200px;
        top: 150px;
      }
    }

    &-me {
      top: 230px;
      width: 60%;
    }
  }
}

@media (min-width: 2090px) {
  .abt {
    &-imgs {
      left: 100px;
      top: 70px;

      &__guy {
        left: 150px;
        top: 150px;
      }
    }
  }
}

@media (max-width: 1740px) {
  .abt {
    &-imgs {
      left: 10px;

      &__guy {
        left: 70px;
      }
    }

    &-me {
      width: 55%;
    }
  }
}

@media (max-width: 1650px) {
  .abt {
    &-imgs {
      top: 50px;
      left: 20px;
      width: 600px;

      &__guy {
        width: 620px;
        top: 130px;
        left: 70px;
      }
    }

    &-me {
      width: 57%;
      top: 110px;
    }
  }
}

@media (max-width: 1600px) {
  .abt {
    &-imgs {
      top: 75px;
      left: 20px;
      width: 600px;
    }
  }
}

@media (max-width: 1550px) {
  .abt {
    &-me {
      width: 54%;
      top: 120px;
      right: 0px;

      &__title {
        font-size: 50px;
        margin-right: 150px;
      }

      &__text {
        font-size: 16px;
        margin-right: 100px;
      }

      &-skill {
        &__logo {
          height: 32px;
        }

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1445px) {
  .abt {
    &-imgs {
      left: 20px;
      width: 550px;
      top: 70px;

      &__guy {
        width: 540px;
        top: 140px;
        left: 70px;
      }
    }

    &-me {
      width: 54%;
      right: 0px;

      &-skill {
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 1380px) {
  .abt {
    &-imgs {
      left: 20px;
      width: 550px;
      top: 60px;

      &__guy {
        width: 540px;
        top: 120px;
        left: 70px;
      }
    }

    &-me {
      width: 54%;
      right: 0px;
      top: 90px;
    }
  }
}

@media (max-width: 1325px) {
  .abt {
    &-me {
      width: 54%;
      right: 0px;
      top: 90px;
    }
  }
}

@media (max-width: 1285px) {
  .abt {
    &-imgs {
      left: 20px;
      width: 500px;
      top: 60px;

      &__guy {
        width: 500px;
        top: 120px;
        left: 70px;
      }
    }

    &-me {
      width: 57%;
      top: 100px;
      right: 0px;

      &__title {
        font-size: 50px;
        margin-right: 150px;
      }

      &__text {
        font-size: 14px;
        margin-right: 100px;
      }

      &-skill {
        &__logo {
          height: 32px;
        }

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .abt {
    &-me {
      width: 54%;
      top: 100px;
      right: 0px;

      &-logos-container {
        display: block;

        &--one {
          display: flex;
        }

        &--two {
          display: flex;
        }
      }

      &__title {
        font-size: 50px;
        margin-right: 150px;
      }

      &__text {
        font-size: 14px;
        margin-right: 100px;
      }

      &-skill {
        &__logo {
          height: 32px;
        }

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1135px) {
  .abt {
    &-imgs {
      top: 230px;
      left: 300px;
      width: 350px;

      &__guy {
        width: 350px;
        top: 260px;
        left: 350px;
      }
    }

    &-me {
      width: 100%;
      top: 150px;
      right: 0px;
      padding: 0 100px 100px 100px;

      &__title {
        font-size: 50px;
        margin-right: 0px;
      }

      &__text {
        font-size: 14px;
        margin-right: 0px;
      }

      &-skill {
        &__logo {
          height: 34px;
        }

        &__title {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .abt {
    margin-top: 100px;
    margin-bottom: 50px;

    &-me {
      margin-top: -30px;
    }

    &-imgs {
      display: none;

      &__guy {
        display: none;
      }
    }
  }
}

@media (max-width: 980px) {
  .abt {
    margin-top: 50px;

    &-me {
      top: 100px;
    }
  }
}

@media (max-width: 945px) {
  .abt {
    &-me {
      top: 120px;
    }
  }
}

@media (max-width: 910px) {
  .abt {
    &-imgs {
      display: none;

      &__guy {
        display: none;
      }
    }
  }
}

@media (max-width: 825px) {
  .abt {
    &-me {
      top: 120px;
    }
  }
}

@media (max-width: 725px) {
  .abt {
    &-me {
      width: 100%;
      top: 120px;
      right: 0px;
      padding: 0 70px 70px 70px;

      &__title {
        font-size: 40px;
        margin-right: 0px;
      }

      &__text {
        font-size: 14px;
        margin-right: 0px;
      }

      &-skill {
        &__logo {
          height: 32px;
        }

        &__title {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 595px) {
  .abt {
    &-me {
      top: 90px;
    }
  }
}

@media (max-width: 525px) {
  .abt {
    &-me {
      top: 80px;
    }
  }
}

@media (max-width: 515px) {
  .abt {
    &-me {
      width: 100%;
      top: 120px;
      padding: 0 50px 50px 50px;

      &__title {
        font-size: 30px;
        margin-right: 0px;
      }

      &__text {
        font-size: 13px;
        margin-right: 0px;
      }

      &-skill {
        &__logo {
          height: 30px;
        }

        &__title {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .abt {
    &-me {
      top: 90px;
    }
  }
}

@media (max-width: 430px) {
  .abt {
    &-me {
      top: 90px;
    }
  }
}

@media (max-width: 410px) {
  .abt {
    height: 120vh;

    &-me {
      &-logos-container {
        display: flex;

        &--one {
          display: block;
        }

        &--two {
          display: block;
        }

        #firebase {
          margin-right: 50px;
        }

        #photoshop {
          margin-top: 25px;
        }
      }
    }
  }
}

@media (max-width: 385px) {
  .abt {
    &-me {
      padding: 0 20px 20px 20px;
    }
  }
}

@media (max-width: 355px) {
  .abt {
    &-me {
      width: 100%;
      top: 90px;
      padding: 0 20px 20px 20px;
    }
  }
}

@media (max-width: 320px) {
  .abt {
    height: 185vh;
    margin-bottom: 240px;
  }
}

// Projects
@media (max-width: 1700px) {
  .prj {
    &-cards {
      gap: 70px;
      margin-top: 20px;

      &__card {
        width: 490px;
        height: 520px;

        &-img {
          width: 100%;
          height: 200px;
          background: linear-gradient(
            184deg,
            rgba(0, 106, 0, 1) 0%,
            rgba(0, 179, 0, 1) 0%
          );
          border-bottom: 4px solid #00b300;
          border-radius: 10px;
        }

        &-inner {
          &-tags {
            &__tag {
              font-size: 13px;
            }
          }

          &__desc {
            height: 155px;
          }
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .prj {
    &-header {
      &__title {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 1370px) {
  .prj {
    &-header {
      width: 80%;
      font-size: 14px;

      &__title {
        padding-top: 65px;
      }
    }

    &-cards {
      gap: 40px;

      &__card {
        width: 450px;
        height: 495px;

        &-inner {
          &__desc {
            height: 130px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .prj {
    &-header {
      width: 80%;

      &__title {
        margin-bottom: 10px;
      }
    }

    &-cards {
      gap: 40px;
      margin-top: 10px;

      &__card {
        width: 410px;
        height: 475px;

        &-inner {
          &-tags {
            &__tag {
              font-size: 13px;
            }
          }

          &-btns {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .prj {
    margin-bottom: 30px;
  }
}

@media (max-width: 1135px) {
  .prj {
    margin-bottom: 100px;

    &-cards {
      &__card {
        width: 410px;
        height: 475px;

        &-inner {
          padding: 20px;

          &__title {
            margin-bottom: 5px;
          }

          &-tags {
            display: flex;
            width: 100%;
            gap: 10px;
            margin-bottom: 15px;

            &__tag {
              background-color: rgb(133, 102, 0);
              padding: 2px 10px;
              font-weight: 500;
              font-size: 14px;
              cursor: default;

              &:hover {
                background-color: rgb(158, 121, 1);
              }
            }
          }

          &__desc {
            height: 128px;
            font-size: 13px;
          }
        }
      }
    }

    &__btn {
      width: 120px;
      height: 40px;
      font-size: 14px;
    }
  }
}

@media (max-width: 980px) {
  .prj {
    position: relative;
    height: auto;
    margin-top: -250px;
    margin-bottom: 150px;

    &-header {
      width: 85%;

      &__title {
        font-size: 50px;
      }

      &__desc {
        font-size: 14px;
      }
    }

    &-cards {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 50px;

      &__card {
        width: 510px;

        &-inner {
          &__title {
            margin-bottom: 5px;
          }

          &-tags {
            &__tag {
              font-size: 15px;
            }
          }

          &__desc {
            height: 128px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .prj {
    margin-top: -280px;
    margin-bottom: 180px;
  }
}

@media (max-width: 770px) {
  .prj {
    margin-top: -180px;
    margin-bottom: 250px;
  }
}

@media (max-width: 760px) {
  .prj {
    margin-bottom: 0px;
  }
}

@media (max-width: 640px) {
  .prj {
    &-header {
      width: 85%;

      &__title {
        font-size: 50px;
      }

      &__desc {
        font-size: 14px;
      }
    }

    &-cards {
      &__card {
        width: 440px;
        height: 495px;

        &-inner {
          &-tags {
            &__tag {
              font-size: 14px;
            }
          }

          &__desc {
            height: 144px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 545px) {
  .prj {
    &-header {
      width: 85%;

      &__title {
        font-size: 50px;
      }

      &__desc {
        font-size: 14px;
      }
    }

    &-cards {
      &__card {
        width: 380px;
        height: 512px;

        &-inner {
          &-tags {
            &__tag {
              font-size: 14px;
            }
          }

          &__desc {
            height: 164px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 515px) {
  .prj {
    &-header {
      &__title {
        font-size: 30px;
      }

      &__desc {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 485px) {
  .prj {
    &-cards {
      &__card {
        width: 330px;
        height: 505px;

        &-img {
          height: 160px;
        }

        &-inner {
          &__title {
            font-size: 20px;
          }

          &-tags {
            &__tag {
              font-size: 14px;
            }
          }

          &__desc {
            height: 200px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 415px) {
  .prj {
    margin-top: 130px;
    margin-bottom: 170px;
  }
}

@media (max-width: 395px) {
  .prj {
    margin-top: 130px;
    margin-bottom: 120px;
  }
}

@media (max-width: 390px) {
  .prj {
    margin-top: 130px;

    &-cards {
      &__card {
        width: 300px;
        height: 530px;

        &-inner {
          &__title {
            font-size: 20px;
          }

          &-tags {
            &__tag {
              font-size: 12px;
            }
          }

          &__desc {
            height: 230px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .prj {
    margin-top: 120px;
  }
}

@media (max-width: 360px) {
  .prj {
    margin-top: 150px;

    &-cards {
      &__card {
        width: 270px;
        height: 515px;

        &-img {
          height: 140px;
        }

        &-inner {
          &__title {
            font-size: 20px;
          }

          &-tags {
            flex-wrap: wrap;
            &__tag {
              font-size: 12px;
            }
          }

          &__desc {
            height: 205px;
            font-size: 12px;
          }
        }
      }
    }

    &__btn {
      width: 100px;
      font-size: 13px;
    }
  }
}

@media (max-width: 320px) {
  .prj {
    margin-top: 450px;
  }
}

// Contact
@media (max-width: 1550px) {
  .ct {
    &__title {
      font-size: 50px;
    }
  }
}

@media (max-width: 1370px) {
  .ct {
    &__title {
      padding-top: 90px;
    }

    &-form {
      &__title {
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 1285px) {
  .ct {
    &-form {
      &__field {
        &--message {
          width: 99.8%;
          height: 240px;
          margin-top: 15px;
          resize: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .ct {
    &-form {
      width: 800px;
    }
  }
}

@media (max-width: 980px) {
  .ct {
    &-form {
      width: 700px;
    }
  }
}

@media (max-width: 820px) {
  .ct {
    &__title {
      padding-top: 95px;
    }

    &-form {
      width: 600px;

      &__title {
        margin-bottom: 0;
      }

      &-desc {
        &__email,
        &__location {
          color: white;
          font-size: 16px;
        }
      }

      &-container {
        &-top {
          flex-direction: column;
        }
      }

      &__field {
        width: 100%;
        margin-top: 15px;

        &--message {
          width: 99.8%;
          height: 240px;
          margin-top: 15px;
          resize: none;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .ct {
    &-form {
      width: 500px;
    }
  }
}

@media (max-width: 725px) {
  .ct {
    &__title {
      font-size: 40px;
    }
  }
}

@media (max-width: 595px) {
  .ct {
    &-form {
      width: 450px;
    }
  }
}

@media (max-width: 520px) {
  .ct {
    &__title {
      font-size: 44px;
    }
    &-form {
      width: 350px;

      &__title {
        margin-top: 60px;
      }

      &-desc {
        flex-direction: column;
        margin-top: 10px;

        &__location {
          margin-top: -20px;
        }
      }
    }
  }
}

@media (max-width: 515px) {
  .ct {
    &__title {
      font-size: 30px;
    }
  }

  .copyright__text {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .ct {
    &-form {
      width: 280px;
    }
  }
}

@media (max-width: 350px) {
  .ct {
    &-form {
      width: 240px;
    }
  }
}

// General
@media (max-width: 1366px) and (max-height: 768px) {
  .lp {
    transform: scale(0.9);
  }

  .abt {
    transform: scale(0.9);
  }

  .prj {
    transform: scale(0.9);
  }

  .ct {
    transform: scale(0.9);
  }
}

@media (max-width: 1364px) and (max-height: 766px) {
  .lp {
    transform: scale(1);
  }

  .abt {
    transform: scale(1);
  }

  .prj {
    transform: scale(1);
  }

  .ct {
    transform: scale(1);
  }
}

@media (max-width: 1280px) and (max-height: 720px) {
  .lp {
    transform: scale(0.9);
  }

  .abt {
    transform: scale(0.9);
  }

  .prj {
    transform: scale(0.9);
  }

  .ct {
    transform: scale(0.9);
  }
}

@media (max-width: 1278px) and (max-height: 718px) {
  .lp {
    transform: scale(1);
  }

  .abt {
    transform: scale(1);
  }

  .prj {
    transform: scale(1);
  }

  .ct {
    transform: scale(1);
  }
}

@media (max-width: 1000px) and (max-height: 805px) {
  .abt {
    height: 130vh;
  }
}

@media (max-height: 690px) {
  .abt {
    height: 140vh;
  }
}

@media (max-height: 650px) {
  .lp {
    height: 110vh;

    &-header {
      margin-top: -30px;
    }
  }

  .abt {
    height: 150vh;
  }
}

@media (max-height: 560px) {
  .abt {
    height: 185vh;
  }
}
